<ul class="single-post-share list-reset right m0">
    <li class="single_post_social_btn facebook-blue"><a target="_blank" class="black" ng-click="shareFb()"><i class="fa fa-facebook"></i></a></li>
    <li class="single_post_social_btn twitter-blue"><a rel="canonical" target="_blank" ng-click="shareTwitter()" rel="me" class="black"><i class="fa fa-twitter"></i></a></li>
    <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && isIOS()"><a target="_blank" ng-click="shareIOS()" class="black"><i class="material-icons">sms</i></a></li><!--ios-->
    <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && !isIOS()"><a target="_blank" ng-click="shareAndroid()" class="black"><i class="material-icons">sms</i></a></li><!--android-->
    <li class="single_post_social_btn blavity-gold" ng-show="!isMobile()"><a ng-click="shareMail()" target="_top"><i class="fa fa-envelope"></i></a></li><!--desktop-->
</ul>