/* Common CSS */
.container{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
.second-container{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.bg-white-op5{
    background-color:rgba(255,255,255,0.5);
}
.sm-col{
    position: relative;
}
.op5{
    opacity:0.5;
}
.bg-lighten-5{
    background-color: #F7F6F6;
}
.bg-darkgreen{
    background-color: #A79613;
}
.bg-darken-5{
    background-color: #484848;
}
.color-darken-5{
    color: #484848;
}
.bg-lighten-6{
    background-color: #E9E9E9;
}
.bg-lighten-7{
    background-color: #D8D8D8;
}
.bg-lighten-8{
    background-color: #232323;
}
.bg-lighten-9{
    background-color: #a7a7a7;
}
.bg-light-green{background-color: #cbe8ba;}
.border-left-color{
    border-left-color: #ccc;
}
.color-lighten-1{
    color: #606060;
}
img{
    display: block;
    margin: auto;
}
.fs38{
    font-size: 38px;
}

.saying {
    border-bottom: 1px solid #ccc;
}
.saying:last-of-type {
    border-bottom: medium none;
}
a{
  color: #111111;
}
a:hover,
a:focus{
  color: #A79613;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  outline: none !important;
}
.text-decoration{
    text-decoration: none;
}
body .no-border-bottom{
  border-bottom: none;
}
.column-7 {
    width: 70.7%;
}
.column-3 {
    width: 29.3%;
}
figure {
    margin: 0;
}
.default-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}
iframe{ 
	width: 100%;
}

/* Button CSS */

.btn-green{
  color: #fff;
  background-color: #A79613;
  border: 1px solid #A79613;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active{
  color: #A79613;
  background-color: transparent;
  border-color: #A79613;
}
.subscribe .input-inline{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
}
.get_it_btn{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .5rem;
    margin: 0;
    height: 35px;
    border: 1px solid #000000;
    background-color: #E6E6E6;
   -webkit-border-radius: 0;
    border-radius: 0;
    color: #000000;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.get_it_btn:hover {
    color: #a79613;
    background-color: #000;
    font-weight: bold;
}
.social_btn a{
    float: left;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 21px;
    padding: 4px 14px;
    margin: 0;
    height: auto;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.social_btn{
    border: none;
    float: left;
    display: block;
}
.social_btn a:first-child{
    border-left: 1px solid #000000;
}
.btn-group button{
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    color: #4C7A34 !important;
    border-color: #000;
    padding: 12px 20px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.btn-outline:hover {
    background: #AEDD94;
    border-color: #000;
}
.register_btn{
    color: #3D9970;
    background-color: #CBE8BA;
    padding: 5px 20px;
    font-size: .875rem;
}

/* Checkbox CSS */
.input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    position: relative;
    visibility: hidden;
}
input[type=checkbox],
input[type=checkbox] + label::before {
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
input[type=checkbox] + label::before {
    content: '';
    text-align: center;
    display: inline-block;
    pointer-events: none;
    opacity: 1;
    color: black;
    transition: all .3s ease;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
input[type=checkbox] + label {
    line-height: 20px;
}
input[type=checkbox]:hover {
    cursor: pointer;
}
input[type=checkbox]:hover + label::before {
    content: '';
    background: #ffffff;
}
input[type=checkbox]:checked + label::before {
    content: '\2713';
}
input[type=checkbox]:checked:hover + label::before {
    opacity: 1;
}

/* Form input CSS */
.input-inline{
    float: left;
    padding: .5rem;
    border: 1px solid #000000;
    border-color: #000000;
    border-right: 0;
     -webkit-border-radius: 0px;
}
.time{
    bottom: 0px;
}
.form-group{
    margin-bottom: 1em;
}
.form-group.mb0{margin-bottom: 0em;}
.form-control{
    border: 1px solid #000000;
    line-height: 21px;
    border-color: #000000;
    font-family: inherit;
    font-size: 16px;
    padding: .5rem;
    display: block;
    width: 100%;
}
.form-group label {
    margin: 0 0 10px;
    display: block;
}
.login_form .ng-valid-email{
    box-shadow: none;
}

/* Header CSS */
header nav ul li a{
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
header nav ul li a:hover {
    color: #A79613;
}
header nav ul li a,
header nav ul li button{
    font-weight: normal !important;
}
.social-links{
    margin: 0;
}
.social-links li a{
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}
header .social-links li a:hover i,
header .social-links li a:focus i{
    color: #ffffff;
}
#user-login-tab img.circle{
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 5px;
}

/* Banner CSS */
.breadcumbs a{
    font-weight: normal !important ;
    font-size: 12px;
    padding: 0 5px;
}
.breadcumbs a:first-child{
    padding-left: 0 !important;
}
.collapse{ cursor: pointer; color: #979797; }


/* Main content CSS */
a h3,
a i{
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
a:hover h3{
  color: #A79613;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
a:hover i {
    color: #a79613;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.feature-image {
	position: relative;
    display: block;
    height: 135px;
    overflow: hidden;
    margin: 0 0 15px;
    text-align: center;
    width: 100%;
}

.feature-image img {
    width: 100%;
    height: auto;
}
.videos-image {
    height: 300px;
    overflow: hidden;
    display: block;
    text-align: center;
}
.videos-image img {
    width: 100%;
    height: auto;
}
#subscribe_div {
    position: relative;
    overflow: hidden;
}

#subscribe_div .right{
    background: url("../images/subscribe_bg.png") no-repeat scroll 0 0;
    min-height: 240px;
    margin: 0px;
    background-size: cover;
}
.subscribe {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 550px;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #111111;
    border: 1px solid #000;
    margin-left: -180px;
}
.subscribe .bg-white{ background-color: RGBA(255, 255, 255, 0.7); }
.subscribe span.h6{
    font-size: 10px;
    /*top: -3px;*/
    position: relative;
    left: 0px;
}
.recent_post_images {
    display: block;
    height: 200px;
    overflow: hidden;
    text-align: center;
}
.recent_post_images img {
    width: 100%;
    height: auto;
}
.scroll_top {
    position: absolute;
    right: 120px;
    top: 140px;
    z-index: 90;
}
.scroll_arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #a7a7a7 transparent;
}

ul.video-tabs li{font-size: 12px;margin: -2px;padding: 5px;cursor: pointer;}
ul.video-tabs li.active{ background-color: #e6e6e6; color: #303030;}
a > p{text-decoration: none;}
a{text-decoration: none;}
/* Footer CSS */
footer ul li a{
    font-weight: normal !important;
    padding: 10px 20px !important;
}
footer ul li:first-child a,
header .social-links li:first-child a{
    padding-left: 0 !important;
}
footer ul li:last-child a{
    padding-right: 0 !important;
}
footer .social-links li a,
header .social-links li a{
    font-weight: normal;
}
footer .border-top{
    border-color: #aaaaaa;
}

.burger-bar{display: none;}
#nav-icon3 {
    width: 30px;
    height: 27px;
    position: absolute;;
    margin: 14px auto;
    bottom: 0;
    right: 0  ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff ;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
}
#nav-icon3 span:nth-child(4) {
    top: 18px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.morecontent span {
    display: none;
}
.morelink {
    display: inline;
    padding: 0px;
    font-size: .75rem;
}
.hr-solid{border-width: 3px;}

.clearfix.nav-mbl > p { color: gray;font-size: 14px; margin: -10px 0 0;}

li:hover {
    color: #111111;
}

/* Post Page CSS */
.main-head{
    font-size: 38px;
    color: #484848;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: #C0C0C0;
}
.post-list-wrapper ul{
    width: 100%;
    background: #ffffff;
}
.post-list-wrapper ul li{
    width: 20%;
    float: left;
    margin: 0;
    padding: 4rem 2rem;
    font-size: 32px;
    cursor: pointer;
    font-weight: normal;
    color: #B8B8B8;
    background: #fff;
}
.post-list-wrapper li.active{
    background-color:#E6E6E6;
    color: #303030;
}
#videos .md-col-6{
    width: 48%;
    margin: 0 3% 0 0;
    border: 1px solid #E6E6E6;
}
#videos .sm-col-12:last-child,
#videos .md-col-6:last-child{
    margin: 0;
}
#videos .dropzone,
#other .dropzone{
    min-height: 400px;
    border: 3px dashed #cccccc;
    background: white;
    padding: 20px 20px;
    color: #B8B8B8;
    position: relative;
}
.message.dz-message {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform:  translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0 !important;
}

.text-editor{
    display: block;
    min-height: 200px;
    border: 1px solid #000 !important;
    overflow: hidden;
}
.text-editor li{
    width: 11.11%;
    text-align: center;
    float: left;
    border-top: 0;
    border-right: 0;
    border-color: #000;
}
.text-editor li:first-child{
    border-left: 0;
}
.text-editor textarea {
    border: none;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 10px;
    font-family: inherit;
}
.text-editor li a{
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    padding: 20px;
    display: block;
    font-weight: 400;
    color: #AAADBC;
}

.manage_posts h4{
    border-bottom: 3px solid #000;
    display: inline-block;
    margin: 0 0 30px;
}
.select2-dropdown{
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
}
.category-form #post-categoty{
    font-size: 14px;
}
.category-form .select2-container--default .select2-selection--multiple{
    background-color: white;
    border: 1px solid #000;
    border-radius: 0px;
}
.category-form .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 0px;
    color: #3E3E3E;
    font-size: 14px;
    padding: 2px 10px;
}
.category-form .select2-container--default .select2-selection--multiple li .select2-selection__choice__remove{
    color: #3E3E3E;
    font-size: 18px;
    line-height: 18px;
    float: right;
    margin: 0 0 0 3px;
}
.inspire-block-wrapper{
    height: 300px;
    overflow-y: auto;
}
.inspire-block-wrapper .inspire-block {
    margin: 0 0 10px;
}
div.tab{display: none;}
div.active.tab{display: block;}
.sm-col.right{float: right;}
.action-bar .action li a{cursor: pointer;}
.action-bar .action li a:hover i{color: black}


/* author CSS */
.main-head2{
    font-size: 38px;
    color: #e4cc7c;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: #C0C0C0;
    border-bottom: 16px solid #e4cc7c;
}

.btn:focus,
.btn-outline:disabled{outline: none !important;box-shadow: none;border-color:rgba(0,0,0,1);}
.btn-outline:disabled,
.btn-outline.is-disabled{ opacity: 1 !important; background-color: rgba(226, 230, 224, 0.8);
cursor: not-allowed; pointer-events: all !important; color: RGBA(116, 158, 106, 0.5) !important; }
a:focus{ border-color: transparent !important; }
/* login page CSS*/
.login_form .form-group label { margin: 0; display: block; font-size: 14px; margin: 0 !important; }
.login_form .btn-group{ width: auto; }
.login_form .form-group input{font-size: 14px;}
.no-radius{border-radius: 0px;}

/* Single Post Page CSS */
.banner{
    position: relative;
    overflow: hidden;
    background-position: top;
}
.single-post-banner{
    opacity: 0;
}
.single_post {
    position: relative;
    margin-top: -100px;
    background: #ffffff;
}
.article-title {
    font-size: 30px;
    margin: 5px 0 10px;
    line-height: 32px;
}
.article-sub-title {
    color: #aaa;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 20px;
    margin: 5px 0 20px;
}
.awesome-stuff {
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px;
    margin: 20px 0 0px;
}
.single-post-share li{
    float: left;
    display: block;
    border: 1px solid #000;
    height: 40px;
    width: 72px;
    line-height: 40px;
    text-align: center;
    padding: 5px;
}
.single-post-share li a {
    line-height: 30px;
    display: block;
    width: 100%;
}
.fb-comments-heading{
    overflow: hidden;
}
.fb-comments-heading:after{
    background-color: #ccc;
    content: '';
    width: 80%;
    position: relative;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -80%;
    left: 20px;
}
.single-post-share li a.facebook_icon{
    line-height: 22px;
}
/*.sticky{ width: 300px; }
.sticky.stick { position:fixed; top:0px; }*/

/* Author Page CSS */
#author_post article{ border-bottom: 1px solid #cccccc; margin-bottom: 50px; }
#similar_post .border-bottom { border-bottom-style: solid; border-bottom-width: 12px; border-bottom-color: #E4CC7C;}
#similar_post figure figurecaption { border-right: 1px solid #ccc;  display: block; overflow: hidden; }
#similar_post figure:last-child figurecaption { border: none; }
.similar-post-heading::after { content: ''; background-image: url('../images/signs-lenguage-u.svg');
    width: 60px; height: 60px; display: block; background-size: contain; position: absolute; right: -60px; top: -20px; }

/* Loader CSS */
.loader{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.loader .loader-content{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
loader-content img ,
.loader-content h2 {
    display: inline-block;
    vertical-align: middle;
}

/* Responsive media Queries */
/*-------------------------*/
@media (min-width: 1024px) and (max-width : 1198px) {
    .container, .second-container{ width: 1000px; }
    h1{ font-size: 1.6rem; }
    #banner .right .slide-user-profile p{ font-size: 12px;}
    #banner .right .slide-user-profile > .pr2{ padding-right: 0.5rem; }
    .scroll_top{ right: 120px;top: 131px; }
    .subscribe { right: -80px; }
    /*.sticky{ width: 250px; }*/
}

@media (min-width: 980px) and (max-width : 1023px) {
    #banner .xs-col-12{ width : 100%; }
    .container, .second-container{ width: 950px; }
    h1{ font-size: 1.6rem; }
    .single-post-share { float: left; margin: 10px 0 0; }
    .feature-image{ height: 195px; }
    /*.sticky{ width: 240px; }*/
}

@media (min-width: 768px) and ( max-width: 979px) {
    .container, .second-container{ width: 730px; }
    #banner div.left, #banner div.right{ width: 100%; float: none; }
    .scroll_top{right: 120px;top: 125px;}
    h1{ font-size: 1.6rem; }
    .get_it_btn { padding: 0.5rem !important;}
    .subscribe{ max-width: 450px; margin-left: -140px; }
    .sm-center{ text-align: center; }
    .sm-pb2{ padding-bottom: 2em; }
    .post-list-wrapper ul li{ font-size: 22px; }
    .single-post-share { float: left; margin: 10px 0 0; }
    .videos-image{ height: 220px; }
    #videos h3 { font-size: 18px; }
    .feature-image{ height: 195px; }
    /*.sticky{ width: 200px; }*/
}

@media only screen and (max-width : 767px) {
    /*.mobile-container{width: 100% !important;}*/
    .container, .second-container{ width: 92%; }
    .xs-col-12{ width: 100%; }
    .social-links { margin: 0 auto;float: none;display: block; text-align: center; }
    #subscribe_div{ position: relative; }
    .subscribe { width: 80%; margin-left: auto;  }
    #subscribe_div .xs-absolute{ top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 99; }
    #subscribe_div .right{ margin: 0; min-height: 350px; background-position: center; background-size: cover; }
    .xs-absolute{ position: absolute !important; }
    .xs-center{ text-align: center; }
    .xs-pb2{ padding-bottom: 2em; }
    h1{ font-size: 1.3rem; }
    h3{ font-size: 1.1rem; }
    .input-inline{ width: 75%; }
    footer ul li,
    #videos h3  { font-size: 14px; }
    footer .logo{ max-width: 150px; }
    footer ul li a { padding: 10px 13px !important; }
    .hdr-menu {width: 100%;}
    .hdr-menu ul{display: none;}
    .hdr-logo{    width: auto !important;
    z-index: 0;
    margin: 0 auto;
    text-align: center;
    float: none;
    max-width: 200px;}
    .burger-bar{display: block;}
    .hdr-logo img {padding-top: 0;}
    .list-reset.left.mb-nav.mobile-nav {margin-top: 0;position: absolute;right: 0;width: 100%;z-index: 999;}
    .list-reset.left.mb-nav.mobile-nav li {background: #fff none repeat scroll 0 0;border-bottom: 1px solid #ddd;color: #000;display: inline-block;padding: 0;width: 100%;}
    .list-reset.left.mb-nav.mobile-nav li a{padding: 15px 30px;width: 100%;}
    .list-reset.left.mb-nav.mobile-nav li:last-of-type{border-bottom: none;}
    .list-reset.left.mb-nav.mobile-nav li button{margin: 10px 70px;}
    .list-reset.left.mb-nav.mobile-nav li a:hover{background: #ddd; border-color: transparent;}
    .nav-mbl {padding: 0;}
    .btn-container ul li {font-size: 18px;padding: 3rem 1rem;}
    .text-editor{ margin: 10px 0 0;  }
    .scroll_top{ right: 26px; top: 132px; }
    .scroll_arrow{ border-width: 0 15px 15px 15px; }
    .login_form .form-group label{ text-align: left; }
    .single-post-share { float: left; margin: 10px 0 0; }
    .videos-image{ height: 180px; }
    .feature-image{ height: 155px; }
    .recent_post_images { height: 150px; }
    body .login_form .no-border-bottom { border-bottom: 1px solid #000000; margin: 0 0 20px; }
    body .login_form label.right-align { text-align: left;}
    .author-info .single-post-share{ display: inline-block; width: auto; margin: 0 auto; float: none; }
    .author-info h2,
    #author_post .h1, .article-title{ font-size: 26px; }
    #similar_post figure figurecaption{ border: none; }
    #similar_post .feature-image{ height: auto; }
    /*.sticky{ width: 160px; }*/
    h2.article-title {  font-size: 24px;  line-height: 30px; }
  }

@media only screen and (max-width : 640px) {
  .column-7, .column-3 {  width: 100%; }
    #videos .md-col-6 { width: 100%; margin: 0 0 1.5rem; }
    #videos figcaption .btn{ padding: 0rem 1rem; }
    #videos figcaption h3{ font-size: 1rem; }
    .xs-hide{ display: none; }
    .xs-show{ display: block; }
    .xs-center{ text-align: center; }
    #blog .border-left{ border: 0;}
    .input-inline{ width: 79%; }
    .scroll_top {right: 26px; top: 225px;}
    .btn-container ul li {font-size:16px; padding: 2rem 1rem;}
    .xs-col{ float:left; }
    .xs-col-1{ width: 8.33333%; }
    .xs-col-11{ width: 91.33333%; }
    .main-head { font-size: 22px; margin: 10px 0 30px;  padding: 0 0 13px; }
    .form-control,
    .text-editor textarea,
    .select2-container--default .select2-search--inline .select2-search__field{ font-size: 14px; }
    .btn-group{ margin-bottom: 2rem; width: 180px; display: block; margin-left: auto; margin-right: auto; }
    .single_post { margin-top: -40px; padding: 20px; }
    .article-title { font-size: 22px; }
    .feature-image, .recent_post_images { height: auto; }
    .similar-post-heading::after { right: auto; top: -70px; left: 50%; transform: translate(-50%); }
    /*.sticky.stick { position: relative; top: 0px; }
    .sticky { width: auto; }*/
}

@media only screen and (max-width : 480px) {
    .input-inline{ width: 72%; }
    .btn-container ul li {font-size: 14px;padding: 1.1rem 0.4rem;}
    .loader-content .h1{ font-size: 1.5rem; }
}

@media only screen and (max-width : 360px) {
    .input-inline{ width: 98%; border-right: 1px solid #000000; }
    .subscribe{ text-align: center; }
    .subscribe .input-inline{ float:none; border-bottom: none; border-style color; line-height: normal;  display: block; }
    .get_it_btn{ width: 98%; display: block; float:none; line-height: normal;}
    #nav-icon3{height: 24px; z-index: 999; margin: 2px auto; width: 25px; }
    .hdr-logo img{width: 40%;}
    .btn-container ul li {font-size: 12px;padding: 1rem 0rem;}
}
/*.wrapper-with-intrinsic-ratio {
	position: relative;
	padding-bottom: 55%;
	height: 0;
}
.wrapper-with-intrinsic-ratio object {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/

.wrapper-with-intrinsic-ratio {
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.wrapper-with-intrinsic-ratio iframe{
    height: 100vh;
}
