html{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    top: 120px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0,0,0,.02);
    }
img{
  max-width: 100%;
  transition: all 200ms;
}


a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}


input, button, select, textarea{
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

*[contenteditable]:focus { outline: none; }

    input[type=text], textarea {
      border: none;
      border-bottom: 1px solid black;
    }

    textarea {
        resize: vertical;
        width: 98%;
      }

      .group:after {
        content: "";
        display: table;
        clear: both;
      }

      #header{
        background:black;
        color:white;
        position: fixed;
        top: 0px;
        width: 100%;
        transition: all 200ms;
        z-index: 500;
        text-align: center;
        overflow: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

      }

      #header a, #header button{
        color:white;
        text-decoration: none;
      }


      .article-preview {
          border-bottom: 1px solid rgba(0,0,0,.1);
          padding: 30px 0px;
          margin-top: 20px;
          position: relative;
      }

      a.article-preview{
        display: block;
      }

      article {
          /*border-bottom: 1px solid rgba(0,0,0,.1);*/
          padding: 0px 0px 50px 0px;
          overflow-x: hidden;
          background: white;
          border: 1px solid rgba(0,0,0,.1);
      }

      article img{
        width: 100%;
      }

      .the-article{
        width: 92%;
        padding: 2%;
        margin: 20px 2%;
      }



      #desktop-nav {
        display: inline-block;
        font-size: 10px;
      }

      #desktop-nav ul{
        padding: 15px 0px;
        font-size: 16px;
      }

      #desktop-nav ul li {
        display: inline;
        margin: 0px 5px;
        padding: 0px 5px;
      }


      #mobile-nav {
        display: block;
        font-size: 30px;
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        text-align: left;
        width: 100%;
        z-index: 10;
        padding-top: 40px;
      }

      #search-input{
        width: 90%;
      }

      #mobile-nav #search-input {
        border-bottom: 1px solid black;
      }

      #mobile-nav ul{
        padding: 20px 0px;
      }

      #mobile-nav ul li {
        display: block;
        margin: 0px 15px;
        padding: 0px 15px;
      }

      #site-logo {
        margin: 0 auto;
        padding: 10px 0px;
        text-align: center;
      }

      #site-logo img {
        max-width: 150px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(0,0,0,.1);
        margin-right: 10px;
        display: inline-block;
        background-size: contain !important;
      }

      .author-name {
        color: rgba(0,0,0,.5);
      }

      .author-url {
        color: rgba(0,0,0,.5);
        font-style: italic;
      }

      .author-panel{
        /*margin: 20px 0px;*/
        padding: 20px 0px;
        border-top: 1px dotted rgba(0,0,0,.1);
        border-bottom: 1px dotted rgba(0,0,0,.1);
        min-height: 100px;
      }

      #author-profile{
        display: none;
      }


      .avatar-large {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: rgba(0,0,0,.1);
        margin-right: 10px;
        display: inline-block;
      }

      .author-social-bar {
        padding: 10px 0px;
        border-top: 1px solid beige;
        /* width: 80%; */
        margin: 10px auto;
        display: inline-block;
        font-size: 20px;
      }

      .author-social-bar div{
        display: inline-block;
        padding: 0px 4px;
      }


      .author-panel-header {
        text-align: center;
        margin-bottom: 20px;
      }

      h1.article-title {
        font-size: 50px;
      }

      h1,h2,h3,h4 {
        margin:0px;
        padding: 10px 0px;
        display: inline;
      }

      .page-container {
        max-width: 1200px;
        margin: 0 auto;
      }

      label {
        width: 19%;
        margin: 0;
        padding: 0;
        display: inline-block;
      }

      input {
        margin: 0;
        padding: 0;
        width: 80%;
      }



      button {
        background: rgba(0,0,0,.1);
        background: white;
        border: 1px solid black;
        display: inline-block;
      }

      .div-button {
        text-align: center;
        background: rgba(0,0,0,.1);
        display: inline-block;
        padding: 20px 30px;
        margin: 5px 0px;
        cursor: hand;
        cursor: pointer;

      }


/*spinner animation */


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgba(0, 0, 0, 0.3);;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*spinnner animation*/

/*angular animations*/
.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}










.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  /*line-height:20px;*/
  opacity:1;
/*  padding:10px;
  border:1px solid black;
  background:white;*/
  /*position: absolute;*/
  left: 0;
}

.animate-hide.ng-hide {
  left: -100%;
  opacity:0;
  /*padding:0 10px;*/
}




.ng-enter,
.ng-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
}





















/*angular animations*/

#loader {
  margin: 0 auto;
}


#submission-form {

}

#submission-form-container .row {
  padding: 10px 0px;
}

#submission-form-container {
  position: relative;
  background: white;
  padding: 10px;
  display: none;
}

.control-button-container{
  text-align: right;
}

.control-button-container button{
  display: inline-block;
  width: auto;
  font-size: 20px;
}

body {
  position: relative;
}

#main-hider, #translucent-hider{
  width: 100%;
  height: 5000px;
  margin: 0 auto;
  background: white;
  z-index: 999;
  position: fixed;
  top: 0px;
}

#translucent-hider{
  background: rgba(255, 255, 255, 0.8);
  display: none;

}
#main-hider .spinner{
  margin-top: 300px;
}

#scroll_to_top{
  position: fixed;
  bottom: 10px;
  right: 100px;
  padding: 10px;
  background: black;
  color: white;
  width: auto;
  transition-property: all;
  transition-duration: .5s;
  opacity: 1;
}

#search-button{
  width: auto;
  background: transparent;
  cursor: hand;
  cursor: pointer;
  transition: all 500ms;
  border: none !important;
}

#search-button:hover{
  color: black;
  background: white;
}

#search-input{
  padding: 5px;
  border-bottom: 1px solid white;
  background: none;
  color: white;
}

#search-container{
  width: auto;
  display: inline-block;
  padding: 8px 0px;
}

.article-meta{
  font-size: 10px;
  margin: 10px 0px 20px 5px;
}



.article-meta .group{
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;

}

.article-title, .article-sub-title, .article-meta{
  width: auto;
  text-align: left;
}

.article-body{
  margin: 20px 0px;
}

.article-title {
  font-size: 24px;
}

.article-sub-title{
  font-size: 24px;
  /*color: rgba(0,0,0,.8);*/
  font-style: italic;
}

.new-article-message{
  text-align: center;
  background: #7FFFD4;
  color: green;
  padding: 10px 0px;
  width: 100%;
  z-index: 10;
  cursor: hand;
  cursor: pointer;
}

#timeline-end{
  display: none;
  text-align: center;
  padding: 30px 0px;
  color: rgba(0,0,0,.3);
}

.timeline-container{
  margin: 0 auto;
  width: 90%;
}

.timeline-container h1, i{
  cursor: hand;
  cursor: pointer;
}

.back-button-container{
  margin: 0px 0px 30px 0px;
}

.created-at{
  display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline;
}


.tags-container {
}

.tags-container li{
  background: black;
  color: white;
  margin-right: 5px;
  padding: 0px 5px;
}

#latest-articles{
  width: 800px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

#related-articles{
  width: 300px;
  /*left: 840px;*/
  position: relative;
  float: right;
}

.sidebar{
  width: 300px;
  position: absolute;
  right: 20px;
}

#search-results{
  width: 300px;
  float: left;
}

#ad-top-sidebar{
  margin-top: 20px;
  width: 300px;
  height: 250px;
  background: teal;
}

#ad-bottom-sidebar{
  margin-top: 20px;
  width: 300px;
  height: 250px;
  background: gray;
}

#main-content{
}

#featured-article{
  width: 100%;
  height: 500px;
  padding-top: 20px;
  background-size: cover;
  background-attachment: fixed;
  display: none;
}

#featured-article .page-container{
  margin-top: 100px;
}

.social-share-panel {
    font-size: 20px;
    display: inline-block;
    background: black;
    color: white;
    padding: 5px;
    float: right;
}

.social-share-bar {
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: block;
    /*background: black;*/
    /*color: white;*/
    padding: 10px 0px;
    float: none;
    /*border-top: 1px dotted rgba(0,0,0,.1);*/
    /*border-bottom: 1px dotted rgba(0,0,0,.1);*/
}

.social-share-bar div {
  padding: 0px 3%;
  display: inline-block;
  /*border-right: 1px solid white;*/

}

.social-share-bar div:last-child {
  border: none;
}


.article-stats-panel {
    width: 90%;
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 30px 0px;
    float: none;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 10px auto 0px auto;
}

.article-stats-panel div {
  padding: 0px 3%;
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,.1);

}

.article-stats-panel div:last-child {
  border: none;
}


.article-stats-panel i{
  padding: 5px;
}


.social-link-panel i{
  padding: 5px;
  color: white;
}

.social-link-panel{
    font-size: 20px;
    display: inline-block;
    margin-top: 5px;
}

.social-share-panel i{
}

.social-share-panel i:last-child{
}

.header-middle, .header-right, .header-left{
  float: left;
  width: 33%;
}

.header-middle{
  float: left;
  width: 50%;
}

.header-right{
  float: left;
  width: 25%;
  text-align: right;
}

.header-left{
  float: left;
  width: 25%;
  text-align: left;
}

#signup-form-container{
  z-index: 10;
  width: 500px;
  padding: 10px;
  display: none;
  position: fixed;;
  top: 0px;
  left: 50%;
  margin-left: -200px;
  background: white;
}

#signin-form-container{
  z-index: 10;
  width: 500px;
  padding: 10px;
  position: fixed;;
  top: 0px;
  left: 50%;
  margin-left: -200px;
  background: white;
  display: none;
}

#signup-form-container .row{
  padding: 7px 0px;
}

#signin-form-container .row{
  padding: 7px 0px;
}

#mobile-nav, #show-mobile-nav{
  display: none;
}




.leaderboard{
  position: relative;
  width: 728px;
  height: 90px;

/*  width: 1100px;
  height: 300px;
*/
  background: green;
  margin: 0 auto;
  display: block;
}

.leaderboard-infinite{
  width: 100%;
}

.big-ad{
  background: gold;
  width: 100%;
  height: 300px;
}

.mobile-leaderboard{
  position: relative;
  width: 95%;
  height: 50px;
  background: green;
  margin: 0 auto;
  display: none;
}

.mobile-leaderboard-infinite{
  position: relative;
  width: 100%;
  height: 50px;
  background: green;
  margin: 0 auto;
  margin-top: 9px;
}








.play-arrow {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 90px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -50px;
  display: none;
}

.play-time{
  background: black;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 10px;
}

#search-results-end{
  text-align: center;
  padding: 20px 0px;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  display: none;
}

button.edit-mode-button{
  color: black !important;
  display: inline-block;
  margin: 10px auto;
}

.editable{
  background: yellow;
}

.editable:hover{
  background: gold;
}

.publish-container{
  text-align: right;
}

.comment-input{
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  margin-top: 50px;
}

.add-comment-button{
  width: 90%;
  font-size: 30px;
  padding: 10px 5%;
  border-top: none;
}

.comments{
  text-align: left;
}

.comment{
  display: list-item;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.comment:last-child{
  border: none;
}

.load-comments-button{
  font-size: 20px;
  margin: 20px 0px;
  padding: 10px;

}

.comment-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0,0,0,.1);
  margin-right: 10px;
  display: inline-block;
}

.comment-author {
  font-size: 12px;
}

.coment-details{
    width: 70%;
    display: inline-block;
}

.comment-body{
  margin: 0px;
}

.comments-container{
  text-align: center;
  margin-top: 30px;
}

.comment-date {
    font-size: 10px;
    color: rgba(0,0,0,.4);
}

.fa-facebook, .fa-thumbs-up{
  color: #3b5998;
}
.fa-twitter{
  color: #55acee;
}
.fa-pinterest{
  color: #cb2027;
}
.fa-google-plus{
  color: #dd4b39;
}
.fa-snapchat{
  color: #fffc00;
}
.fa-instagram{
  color: #125688;
}
.fa-youtube{
  color: #bb0000;
}
.fa-soundcloud{
  color: #ff3a00;
}

.fa-envelope{
  color: #949496;
}

.fa-ellipsis-h{
  color: #949496;
}

.fb-comments-container{
  min-height: 200px;
}

.comments-container{
  display: none;
}



/* Desktop ----------- */
@media only screen and (min-device-width : 800px) {

      .author-panel-header {
          text-align: center;
          /* margin-bottom: 20px; */
          width: 30%;
          float: none;
          display: inline-block;
      }

      .author-bio {
          width: 30%;
          margin-top: 20px;
          display: inline-block;
          float: none;
          text-align: left;
          vertical-align: top;

      }

      .author-panel {
          /* margin: 20px 0px; */
          padding: 20px 0px;
          border-top: 1px dotted rgba(0,0,0,.1);
          border-bottom: 1px dotted rgba(0,0,0,.1);
          min-height: 100px;
          text-align: center;
      }

      .comments-container {
        width: 50%;
        /*max-width: 500px;*/
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      .article-title{

      }

      .mobile-leaderboard, .mobile-leaderboard-infinite{
        display: none;
      }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

        body{
          top: 70px;
        }
      #latest-articles, #related-articles {
          width: 96%;
          float: none;
          margin-right: 2%;
          margin-left: 2%;
      }

      #latest-articles article, #related-articles article {
          background-size: cover;
      }

      label, input{
        width: 100%;
        float: none;
      }
/*
      form, input{
        font-size: 1.5em;
        color: rgba(0, 0, 0, .8);
      }*/

      form, input{
        font-size: 1em;
        color: rgba(0, 0, 0, .8);
      }

      h1.article-title {
        font-size: 30px;
      }


      .page-container {
        width: 100%;
        margin: 0 auto;
      }

      .header-left{
        text-align: center;
        width: 100%;
      }

      .header-right{
        display: none;
      }

      .header-middle{
        width: 100%;
      }

      #desktop-nav{
        display: none;
      }

      #mobile-nav li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 20px 0px;
      }

      #show-mobile-nav{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .tags-container li{
        font-size: 12px;
      }

      #scroll_to_top {
        right: 10px;
        bottom: 10px;
      }

      #scroll_to_top i {
        font-size: 30px;
      }

      #submission-form-container {
        position: fixed;
        display: none;
        z-index: 1000;
        width: 90%;
        left: 0px;
        top: 0px;
        background: white;
        margin-left: 0px;
        padding: 0px 5%;
      }

      #search-container{
        text-align: center;
      }

      #search-button {
        border: 1px solid black !important;
        margin: 0 auto;
      }

      #search-input{
        color: black;
      }

      .close-mobile-nav{
        position: absolute;
        top: 10px;
        right: 10px;
      }


      .leaderboard{
        display: none;
      }

      .mobile-leaderboard{
        display: block;
      }

      #ad-top-sidebar{
        margin: 20px auto 0px auto;
      }

      #ad-bottom-sidebar{
        margin: 20px auto 0px auto;
      }

      .article-stats-panel {
          font-size: 20px;
          padding: 5px;
          display: block;
          float: none;
          margin: 10px atuo 0 auto;
      }

      .social-share-panel{
          font-size: 16px;
          display: inline-block;
          float: none;
          color: white;
          margin: 0px;
      }

      #interaction-panel{
        /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
        margin-bottom: 10px;
        text-align: center;
      }

      #related-articles{
        display: none;
      }

      .article-preview {
          margin-top: 10px;
      }

      #signin-form-container, #signup-form-container {
          z-index: 10;
          width: 96%;
          padding: 10px 2%;
          position: fixed;
          top: 0px;
          left: 0px;
          margin: 0 auto;
          z-index: 20;
      }

}
