@font-face {
font-family: GT-Walsheim;
src: url("/fonts/Grilli-Type-Trial-Fonts-2016-1/GT-Walsheim-Pro-Trial-Regular.otf") format("opentype");
}

@font-face {
font-family: GT-Walsheim;
font-weight: bold;
src: url("/fonts/Grilli-Type-Trial-Fonts-2016-1/GT-Walsheim-Pro-Trial-Bold.otf") format("opentype");
}

body{
  font-family:GT-Walsheim,-apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  line-height:1.5;
  margin:0;
  color: rgba(17, 17, 17, 0.7);
  background-color:#fff;
}

.article-body {
  line-height:1.9;
  font-size: 18px;
}

.article-body img {
    display: block;
    margin: 30px auto;
    width: 100%;
}

h2.article-title {
    font-size: 48px;
    margin: 5px 0 10px;
    line-height: 48px;
    color: black;
}

.author-name {
    font-size: 20px;
    line-height: 18px;
}


.load-more-posts{
  cursor: pointer;
}

#footer-menu{
  font-size: 12px;
}

#footer-menu-2{
  font-size: 10px;
  color: gray;
  background: black;
}

#footer-menu-2 a{
  color: white !important;
}

#footer-about{
  font-size: 12px;
  color: gray !important;
}

.scroll_top {
    position: fixed !important;
    top: auto !important;
    bottom: 10px !important;
}

#signup-form-container{
  display: none;
}

#signin-form-container{
  display: none;
}

#submission-form-container{
  display: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 14px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
}

.social_btn a{
  height: 30px !important;
}

.single-post-share-end {
  margin: 0 auto;
}

.social_btn a:first-child, .social_btn a{
  border: none !important;
}

.single-post-share li {
  border: none !important;
}
.single-post-share-end li {
    float: left;
    display: block;
    /*border: 1px solid #000;*/
    border: none;
    height: auto;
    width: 33%;
    line-height: 40px;
    text-align: center;
    padding: 5px;
}

/*Facebook Comments profile image*/

img._1ci.img {
  border-radius: 50%;
}

aside.videos img{
  min-width: 100%;
}

.bg-black {
  background: black;
  color: white !important;
}

.light-gray{
  color: rgba(0, 0, 0, 0.3);
}

 a.pop-video-text, h3.pop-video-text, .pop-video-text{
   color: white !important;
 }

 .white-bg{
   background: white;
 }

 .page-title{
   padding: 20px 0px;
 }

 /*header#header {
    position: fixed;
    z-index: 99;
    width: 100%;
}
*/

.loader{
  background: white !important;
}

#todays-date{
  padding: 5px 0px;
  text-align: right;
}

#search-bar{
  text-align: right;
}

.search-button{
  color: white;
  background: black;
  text-align: center;
}

/*mobile only*/
@media (max-width: 480px) {
  #todays-date{
    text-align: center;
    float: none !important;
    display: none;
  }
}

.facebook-blue{
  background-color: #3b5998;
}

.twitter-blue{
  background-color: #55acee;
}

.blavity-gold{
  background-color: #cfbc58;
}

.twitter-blue a, .facebook-blue a{
  color: white !important;
}

li a{
  width: 100%;
  height: 100%;
  display: block;
}

li a:hover{
  color: white !important;
}

tag{
  background:black !important;
  color: white !important;
}

.sms{
}

a.video-thumbnail {
  display: block;
}
/*a.video-thumbnail span {
  width: 100%;
  height: 280px;
  position: absolute;
  background: url("../images/play-button.png") no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
  margin-left: -130px;
  margin-top: -70px;
}*/
a.video-thumbnail span {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url("../images/play-button.png") no-repeat center center;
    background-size: contain;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 480px) {
  a.video span {
    background-size: 400%;
  }
}

.embed-object{
  width: 100%;
  height: 600px;
}

.single_video_post{
    position: relative;
    margin-top: 0px !important;
    background: #ffffff;
}

.featured-video{
  width: 100%;
  /*min-height: 400px;*/
}

.stickyicky {
    position: fixed !important;
    top: 0px;
    margin:0;
    padding:0;
    z-index: 2;
    /*left: 50%;
    transform: translateX(-50%);*/
}

.transition{
  /*transition: 1s ease-in-out;*/
}

.banner-ad {
    width: 728px !important;
    height: 90px !important;
    margin: 0 auto !important;
}

.single-post-share{
  margin-top: 0px !important;
}

/*desktop only*/
@media (min-width: 980px) {
  section#banner{
      height: 450px;
      overflow: hidden;
  }

  .stickyicky {
      left: 50%;
      transform: translateX(-50%);
  }
}

/*mobile only*/
@media screen and (max-width: 480px) {
  .stickyicky {
      /*position: fixed !important;*/
  }
}
