<!doctype html>
<html class="no-js" lang="en">
<% include partials/head %>
<body>

<link rel="stylesheet" href="js/plugins/dropzone-4.3.0/dist/dropzone.css">
<% include partials/header %>




<section class="container">
<section id="banner" class="pb3">
  <div class="clearfix">
    <div class="sm-col  sm-col-8 left">
      <img src="http://placehold.it/1200x550">
    </div>

    <div class="sm-col  sm-col-4 right">
      <div class="p3">
        <h3 class="h2 mt1 gray">janedeaux</h3>
        <div class="clearfix mb1 user-name">
          <div class="sm-col xs-col-12 sm-col-12 mb2 slide-user-profile">
            <div class="clearfix">
              <div class="sm-col sm-col-12 md-col-12 lg-col-12 pr2">
               <ul class="list-reset gray m0">
                  <li class="social_btn"><a href="javascript:void()" class="black"><i class="fa fa-facebook-official"></i></a></li>
                  <li class="social_btn"><a href="javascript:void()" class="black"><i class="fa fa-twitter-square"></i></a></li>
                  <li class="social_btn"><a href="javascript:void()" class="black"><i class="fa fa-envelope"></i></a></li>
                   <li class="social_btn"><a href="javascript:void()" class="black"><i class="fa fa-instagram"></i></a></li>
                </ul>

              </div>
              <div class="sm-col sm-col-12 md-col-12 lg-col-12">
                <p class="m0 gray left gray">janeswebsite.com</p>
              </div>
            </div>
          </div>
          <p class="sm-col-12 gray" data-char="390">Lorem ipsum dolor sit amet,consectetur adiposcing elit.Nulla quam veit,vulputate commodo lectus,ac blandit elit tincidunt id.sed rhoncus,tortor sed eleifend tristique,tortor</p>

        </div>
      </div>
    </div>
      <hr class="sm-col sm-col-12">
      <div class="sm-col center sm-col-12 gray">
          <ul class="m0">
                  <li>last posted 3 day ago (july 17,2016 at 2:14pm)</li>
                  <li>joined Blavity about a year ago(june 22,2015 at 4:02am)</li>
                  <li>has 43 posts that have been viewed 23k times</li>
          </ul>

      </div>
      <hr class="sm-col sm-col-12">

    </div>
</section>


<section id="blog" class="pt2 pb3">
  <div class="clearfix mx-auto">
    <div class="sm-col sm-col-6 sm-px3">
      <h3 class="regular mt1 gray">check these out.</h3>
    </div>

    <div class="sm-col sm-col-6 sm-px3">
      <h3 class="regular mt1 gray xs-hide">recent posts</h3>
    </div>

    <div class="sm-col sm-col-6 sm-px3 mt2">
      <div class="sm-col sm-col-12 py2 saying">
        <div class="clearfix gray">
           <div class="overflow-hidden">
            <div class="sm-col sm-col-12 mb1 mt3">
        <img src="http://placehold.it/350x150">
        </div>
         <h2 class="regular gray m0 ">Some super dope video</h2><p class="m0 gray"><span class="h4 gray">9 week ago</span></p>
         <p class=" m0 say-para-ellips gray" data-char="200">Lorem ipsum dolor sit amet,consectur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,mattis ac newue.duis vulputate commodo lectus,ac blandit elit</p>
      <div class="sm-col sm-col-12 mb1 mt3">
        <img src="http://placehold.it/350x150">
        <h2 class="regular gray m0 ">Some super dope video</h2><p class="m0 gray"><span class="h4 gray">9 week ago</span></p>
         <p class=" m0 say-para-ellips gray" data-char="200">Lorem ipsum dolor sit amet,consectur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,mattis ac newue.duis vulputate commodo lectus,ac blandit elit</p>
      </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sm-col sm-col-6 border-left border-left-color sm-pl3 mt2">

      <div class="sm-col xs-col-12 sm-hide md-hide lg-hide">
        <h3 class="regular mt1 gray">What people are watching...</h3>
      </div>
       <div class="col-12">
                <div class="inspire-block-wrapper">
                  <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                      <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                    </div>
                    <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                  <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                  <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                   <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                    <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                   <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                    <div class="inspire-block">
                    <h3 class="regular mb0 mt1">Something Cool Happened</h3>
                    <p class="gray h5 m0">
                      <time class="h6">2 mins ago</time>
                    </p>
                    <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                </div>
               </div>
        </div>
    <hr class="col col-12 pb2">
  </div>
</section>

 <div class="clearfix max-width-2 mx-auto py2">
        <img src="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2016/05/ADVERTISE324-2.png?9b13fa">
      </div>

  <h1 class="color-darken-5  center  regular my3 py2 fs38 main-head2"> Be like janedeaux,post on Blavity </h1>
      <div class="clearfix center mx-auto m3">

    <div class="sm-col sm-col-4 sm-px3 gary">

     <img src="http://placehold.it/200x100">
     <h2 class="regular gray m0 ">Some super dope video</h2><p class="m0 gray"><span class="h4 gray">9 week ago</span></p>
         <p class=" m0 say-para-ellips gray" data-char="200">Lorem ipsum dolor sit amet,consectur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,</p>
    </div>

    <div class="sm-col sm-col-4 sm-px3 gray">

       <img src="http://placehold.it/200x100">
     <h2 class="regular gray m0 ">Some super dope video</h2><p class="m0 gray"><span class="h4 gray">9 week ago</span></p>
         <p class=" m0 say-para-ellips gray" data-char="200">Lorem ipsum dolor sit amet,consectur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,</p>
    </div>
    <div class="sm-col sm-col-4 sm-px3 garay">

       <img src="http://placehold.it/200x100">
     <h2 class="regular gray m0 ">Some super dope video</h2><p class="m0 gray"><span class="h4 gray">9 week ago</span></p>
         <p class=" m0 say-para-ellips gray" data-char="200">Lorem ipsum dolor sit amet,consectur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,</p>
    </div>

</div>
  <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Load More</p>
      <hr class="sm-col sm-col-5">


</section>



<% include partials/footer %>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/pages/post.js"></script>
<script src="/js/plugins/dropzone-4.3.0/dist/dropzone.js"></script>

<script>
  /*jQuery(window).ready(function(){
   jQuery('.asHtml').each(function(){
   jQuery(this).html(jQuery(this).text())
   })
   })*/
   $(document).ready(function(){
    if($(window).width()<=767){
     $('.mb-nav').addClass('mobile-nav');
       $('#nav-icon3').click(function(){
           $(this).toggleClass('open');
           $('.mb-nav').slideToggle()
       });
     }

       previewTemplate=$('.dz-file-preview1').html();
        Dropzone.options.uploadWidget = {
          paramName: 'file',
          maxFilesize: 2, // MB
          maxFiles: 1,
          dictDefaultMessage: 'Drag an image here to upload, or click to select one',
          previewTemplate: previewTemplate,
          acceptedFiles: 'image/*',
          init: function() {
            this.on('success', function( file, resp ){
              console.log( file );
              console.log( resp );
            });
            this.on('thumbnail', function(file) {
              if ( file.width < 640 || file.height < 480 ) {
                file.rejectDimensions();
              }
              else {
                file.acceptDimensions();
              }
            });
          },
          accept: function(file, done) {
            file.acceptDimensions = done;
            file.rejectDimensions = function() {
              done('The image must be at least 640 x 480px')
            };
          }
        };


      })
</script>
</body>
</html>
