<footer class="bg-lighten-7 pt3 relative">

	<div class="clearfix container mx-auto">

		<div class="sm-col sm-col-2 xs-col-12 sm-px1 my2">
			<img src="../../../images/BlavityLogo_white.png" class="logo" alt="logo">
			<p class="gray my1 h6 xs-center">&copy; Blavity Inc. <%= (new Date()).getFullYear() %></p>
		</div>


  	<div class="scroll_top">
  		<a href="#" class="scroll_arrow"></a>
  	</div>

	</div>
</footer>




<script type="text/javascript">
$(document).ready(function(){
 if($(window).width()<=767){
	$('.mb-nav').addClass('mobile-nav');
		$(document).on('click','#nav-icon3',function(){
				$(this).toggleClass('open');
				$('.mb-nav').slideToggle();
		});
	}
});
</script>

<script src="/js/md5.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/social-networks.js"></script>
<script src="//cdn.iframe.ly/embed.js" async></script>

<script src="/js/page.js"></script>
<script src="/js/directives/social-buttons.js"></script>
