<footer class="bg-lighten-7 pt3 relative">

	<div class="clearfix container mx-auto py4">
		<% if(typeof(page) !== 'undefined'){ %>
		<% 	if(page == 'home'){ %>
		<% 	include ads/ad-banner-bottom %>
		<% 	} %>
		<% } %>
	</div>



	<div class="clearfix container mx-auto">

		<div class="sm-col sm-col-2 xs-col-12 sm-px1 my2">
			<img src="../../../images/BlavityLogo_white.png" class="logo" alt="logo">
			<p class="gray my1 h6 xs-center">&copy; Blavity Inc. <%= (new Date()).getFullYear() %></p>
		</div>

		<div class="sm-col sm-col-9 xs-col-12 px1">
			<!--about us section-->
				<div class="clearfix" id="footer-about">
					<p><span class="bold">Blavity</span> is a community of the most exceptional multi-cultural creators and influencers in the world. We partner with diverse content creators and influencers to help them reach a wider audience, amplify their message, and fund their hustles. We believe that the world shifts according to the way people see it. If you change the way people view the world, you can transform it.</p>
				</div>
			<!--about us section-->



			<nav class="center max-width-2 mx-auto">
		        <ul class="list-reset social-links">
            	<li class="inline-block gray"><a target="_blank" href="https://www.facebook.com/Blavity/" title="Blavity Facebook Page" target="_blank"><i class="fa fa-facebook"></i></a></li>
		        	<li class="inline-block gray"><a target="_blank" href="https://www.instagram.com/blavity/" title="Blavity Instagram Profile" target="_blank"><i class="fa fa-instagram"></i></a></li>
		        	<li class="inline-block gray"><a target="_blank" href="https://twitter.com/blavity" title="Blavity Twitter Page" target="_blank"><i class="fa fa-twitter"></i></a></li>
		        	<li class="inline-block gray"><a target="_blank" href="https://www.snapchat.com/add/blavityfam" title="Blavity on Snapchat" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>
		      	</ul>
		        <ul class="list-reset border-top" id="footer-menu">
								<li class="inline-block black"><a href="/categories/news" class="btn py2 regular">News</a></li>
								<li class="inline-block black"><a href="/videos" class="btn py2 regular">Videos</a></li>
								<li class="inline-block black"><a href="/categories/opinion" class="btn py2 regular">Opinion</a></li>
								<li class="inline-block black"><a href="/categories/blerd" class="btn py2 regular">Blerd</a></li>
								<li class="inline-block black"><a href="/categories/life-style">Life</a></li>
		            <li class="inline-block black"><a target="_blank" href="http://shop.blavity.com/" class="btn py2 regular">Shop</a></li>
		            <!-- <li class="inline-block black"><a href="/post" class="btn py2 regular">Write</a></li> -->
		        </ul>

	        </nav>
	    </div>
  	</div>

  	<div class="scroll_top">
  		<a href="#" class="scroll_arrow"></a>
  	</div>

</footer>

<!--bottom menu-->
	<div class="center clearfix pb3" id="footer-menu-2">

			<!-- <ul class="list-reset">
					<li class="inline-block"><a href="/advertising" class="btn py2 regular">Partner &amp; Advertise</a></li>
					<li class="inline-block"><a href="/privacy" class="btn py2 regular">Privacy</a></li>
					<li class="inline-block"><a href="/jobs" class="btn py2 regular">Jobs</a></li>
					<li class="inline-block"><a href="/terms-of-service" class="btn py2 regular">Terms of Service</a></li>
					<li class="inline-block"><a href="/about" class="btn py2 regular">About</a></li>
			</ul> -->

	</div>
<!--/bottom menu-->



<script type="text/javascript">
$(document).ready(function(){
 if($(window).width()<=767){
	$('.mb-nav').addClass('mobile-nav');
		$(document).on('click','#nav-icon3',function(){
				$(this).toggleClass('open');
				$('.mb-nav').slideToggle();
		});
	}
});
</script>

<script src="/js/md5.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/social-networks.js"></script>
<script src="//cdn.iframe.ly/embed.js" async></script>

<script src="/js/page.js"></script>
<script src="/js/directives/social-buttons.js"></script>
