<!--/sign up form-->
    <div id="signup-form-container" class="page-container group">
        <form id="signup-form">
          <div class="row group" style="text-align:right;">
            <span id="close-signup-button" ng-click="closeAuthForm()" class="close-signup"><i class="fa fa-times"></i></span>
          </div>

          <div class="row group">
            <label>Email: </label><input id="email" type="text" autocomplete="off" ng-model="user.email"/>
          </div>
          <div class="row group">
            <label>Username: </label><input id="username" type="text" autocomplete="off" ng-model="user.username"/>
          </div>

          <div class="row group">
            <label>Password: </label><input id="password" type="text" autocomplete="off" ng-model="user.password"/>
          </div>

          <div class="row group">
            <button ng-click="signUp(user)" role="button" class="fade">Sign Up</button>
            <button ng-click="closeSignUpForm()" role="button" class="close-signup" class="fade">Cancel</button>
          </div>
        </form>
    </div>
<!--/sign up form-->
<!--sign in form-->
    <div id="signin-form-container" class="page-container group">
        <form id="signin-form">
          <div class="row group" style="text-align:right;">
            <span id="close-signin-button" ng-click="closeLoginForm()" class="close-signin"><i class="fa fa-times"></i></span>
          </div>

          <div class="row group">
            <label>Email: </label><input id="email" type="text" autocomplete="off" ng-model="user.email"/>
          </div>

          <div class="row group">
            <label>Password: </label><input id="password" type="text" autocomplete="off" ng-model="user.password"/>
          </div>

          <div class="row group">
            <button ng-click="signIn(user)" role="button" class="fade">Sign In</button>
            <button ng-click="closeLoginForm()" role="button" class="close-signin" class="fade">Cancel</button>
          </div>
        </form>
    </div>
<!--/sign in form-->

<!--submission form-->
    <div id="submission-form-container" class="page-container group">
        <form id="submission-form" enctype="multipart/form-data" method="post">
          <div class="row group" style="text-align:right;">
            <span id="close-submission-button" ng-click="closeSubmissionForm()"><i class="fa fa-times"></i></span>
          </div>
          <div class="row group">
            <label>Media: </label>
            <input type="file" file-upload multiple/>
            <ul>
              <li ng-repeat="file in files">{{file.name}}</li>
            </ul>
          </div>
          <div class="row group">
            <label>Tags: </label><input id="tags" name="tags" type="text" autocomplete="off" ng-model="article.tags"/>
          </div>
          <div class="row group">
            <label>Slug: </label><input id="slug" name="slug" type="text" autocomplete="off" ng-model="article.slug"/>
          </div>
          <div class="row group">
            <label>Title: </label><input id="title" name="title" type="text" autocomplete="off" ng-model="article.title"/>
          </div>
          <div class="row group">
            <label>Sub-title: </label><input id="subTitle" name="subTitle" type="text" autocomplete="off" ng-model="article.subTitle"/>
          </div>
          <div class="row group">
            <label>Body</label><textarea id="body" name="body" autocomplete="off" ng-model="article.body"></textarea>
          </div>
          <div class="row group">
            <label>Excerpt: </label><input id="excerpt" name="excerpt" type="text" autocomplete="off" ng-model="article.excerpt"/>
          </div>
          <div class="row group">
            <button ng-click="createArticle(article)" role="button" ng-show="edit != true" class="fade">Submit for review</button>
            <button ng-click="saveArticleEdit(article)" role="button" ng-show="edit == true" class="fade">Save edit</button>
            <button ng-click="closeSubmissionForm()" role="button" class="close-subm" class="fade">Cancel</button>
          </div>
        </form>
    </div>
<!--/submission form-->