<!-- Start: GPT Async -->
<script type='text/javascript'>
	var gptadslots=[];
	var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
	(function(){ var gads = document.createElement('script');
		gads.async = true; gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
	})();
</script>

<script type="text/javascript">

	var adslot0;

	googletag.cmd.push(function() {


	  // Fits browsers of any size smaller than 640 x 480

	var mapping0 = googletag.sizeMapping().
		addSize([1024, 768], [728, 90]).
		addSize([980, 690], [728, 90]).
	  addSize([640, 480], [320, 50], [300, 250]).
		addSize([0, 0], [320, 50], [300, 250]).
	  build();

	var mapping1 = googletag.sizeMapping().
		addSize([1024, 768], [728, 90]).
		addSize([980, 690], [728, 90]).
	  addSize([640, 480], [300, 250], [320, 50]).
		addSize([0, 0], [300, 250], [320, 50]).
	  build();

	var mapping2 = googletag.sizeMapping().
		addSize([1024, 768], [300, 250], [320, 50]).
		addSize([980, 690], [300, 250], [320, 50]).
		addSize([640, 480], [300, 250], [320, 50]).
		addSize([0, 0], [300, 300], [320, 50]).
		build();

		//Adslot 1 declaration
		gptadslots[1]= googletag.defineSlot('/63052033/bla', [[728,90], [320,50], [300, 250]],'div-gpt-ad-Top_Leaderboard').defineSizeMapping(mapping0).
	  setCollapseEmptyDiv(true).setTargeting('pos',['728x90_Top-Leaderboard_101']).setTargeting('page',['home']).addService(googletag.pubads());

		//Adslot 2 declaration
		gptadslots[2]= googletag.defineSlot('/63052033/bla', [[300,250], [320,50]],'div-gpt-ad-300x250_MediumRectangleATF').defineSizeMapping(mapping2).
	  setCollapseEmptyDiv(true).setTargeting('pos',['300x250_MedRecATF_102']).setTargeting('page',['home']).addService(googletag.pubads());

		//Adslot 3 declaration
		gptadslots[3]= googletag.defineSlot('/63052033/bla', [[728,90],[300, 250], [320,50]],'div-gpt-ad-Bot_Leaderboard').defineSizeMapping(mapping1).
	  setCollapseEmptyDiv(true).setTargeting('pos',['728x90_Bot-Leaderboard_103']).setTargeting('page',['home']).addService(googletag.pubads());

		//Adslot 4 declaration
		gptadslots[4]= googletag.defineSlot('/63052033/bla', [[728,90],[300, 250], [320,50]],'div-gpt-ad-728x90_InfiniteScroll').defineSizeMapping(mapping1).
	  setCollapseEmptyDiv(true).setTargeting('pos',['infinite']).setTargeting('page',['home']).addService(googletag.pubads());

		googletag.pubads().enableSingleRequest();
		// googletag.pubads().disableInitialLoad();
		googletag.pubads().enableAsyncRendering();
		googletag.enableServices();
	});



	$(window).resize(function(){
		googletag.pubads().refresh([gptadslots[1], gptadslots[3], gptadslots[4]]);
	});


</script>
<!-- End: GPT -->
