<header class="bg-lighten-6" ng-controller="headerCTL">
  <div class="container center py2">
    <div class="clearfix max-width-3 mx-auto">
      <% include ads/ad-banner-top %>
    </div>
  </div>
  <div class="bg-lighten-9" id="user-login-tab" ng-if="isLogin && userdata.username">
      <div class="container">
        <div class="clearfix nav-mbl">
            <div class="sm-col sm-col-12 py1">
              <p class="p0 right-align m0">logged in as {{userdata.username || "BlavityFam"}} <img class="circle" ng-src='{{userdata.image || "http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg"}}' height="30" width="30"></p>
            </div>
          </div>
      </div>
  </div>
  <nav class="bg-black">
      <div class="container mx-auto mobile-container">
         <div class="clearfix nav-mbl">
            <div class="sm-col sm-col-2 md-col-2 lg-col-2 py1 hdr-logo">
              <a href="/"><img src="../../../images/BlavityLogo_white.png" width="190" alt="blavity-logo" class="pt1" title="Blavity logo"></a>
            </div>
            <div class="sm-col sm-col-10 md-col-10 lg-col-10 hdr-menu">
              <div class="right">
                <div class="burger-bar" id="nav-icon3">
                   <span></span>
                   <span></span>
                   <span></span>
                   <span></span>
                </div>
                <ul class="list-reset left mb-nav">
                  <li class="inline-block mr1 white"><a href="/categories/news">News</a></li>
                  <li class="inline-block mr1 white"><a href="/videos">Videos</a></li>
                  <li class="inline-block mr1 white"><a href="/categories/opinion">Opinion</a></li>
                  <li class="inline-block mr1 white"><a href="/categories/blerd">Blerd</a></li>
                  <li class="inline-block mr1 white"><a href="/categories/life-style">Life</a></li>
                  <li class="inline-block mr1 white"><a target="_blank" href="http://shop.blavity.com/">Shop</a></li>
                  <!-- <li class="inline-block"><a class="my3 btn btn-green" href="/post">Post</a></li> -->
                </ul>

              </div>
            </div>
         </div>
      </div>
  </nav>

  <div class="bg-darken-5">
    <div class="container mx-auto">
      <div class="clearfix nav-mbl">
        <ul class="sm-col sm-col-6 list-reset left social-links">
            <li class="inline-block gray"><a target="_blank" href="https://www.facebook.com/Blavity/" title="Blavity Facebook Page" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="inline-block gray"><a target="_blank" href="https://www.instagram.com/blavity/" title="Blavity Instagram Profile" target="_blank"><i class="fa fa-instagram"></i></a></li>
	          <li class="inline-block gray"><a target="_blank" href="https://twitter.com/blavity" title="Blavity Twitter Page" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="inline-block gray"><a target="_blank" href="https://www.snapchat.com/add/blavityfam" title="Blavity on Snapchat" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>
        </ul>

        <div class="sm-col sm-col-5 right gray" id="todays-date">{{ todaysDate | date: 'fullDate' }}</div>
        <!-- <div class="sm-col sm-col-6 right" ng-controller="ArticleCtrl" id="search-bar">
          <input type="text" ng-model="searchQuery"/>
          <div class="search-button inline-block" ng-click="searchArticles(searchQuery)">
            <i class="fa fa-search"></i>
          </div>
        </div> -->

      </div>

    </div>
  </div>
  <div class="loader" ng-if="loader">
  <div class="loader-content center">
    <!-- <h2 class="h1 white mb0 regular">Just a moment...</h2> -->
    <img src="../images/ellipsis.gif" width="60px" />
  </div>
</div>
</header>
