  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/> <!--320-->
    <meta name="description" content="A real time blog with in-place editing">
    <title>BLAVITY</title>
    <!-- <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <!-- <link href='/css/dropzone.css' rel='stylesheet' type='text/css'> -->
<!--for facebook shares -->
    <meta property="og:url"           content="http://www.blavity.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Blavity Bulletin" />
    <meta property="og:description"   content="Blavity is a tech company for forward thinking Black millennials pushing the boundaries of culture and the status quo." />
    <meta property="og:image"         content="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2014/11/IMG_9764.jpg?d600af" />
<!--/ for facebook shares-->

  </head>
