<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/> <!--320-->

    <meta name="description"
          content="Blavity is a tech company for forward thinking Black millennials pushing the boundaries of culture and the status quo.">
    <title>BLAVITY</title>
    <!-- <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--basscss 8.0.1-->
    <link href="/css/bass.css" rel="stylesheet">
    <link href="/css/style_2.css" rel="stylesheet">
    <link href="/css/blavity-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

    <link rel="shortcut icon" href="http://preview.blavity.com/favicon.ico" />

    <!--/foundation-->

    <!-- <link href='/css/style.css' rel='stylesheet' type='text/css'> -->
    <!-- <link href='/css/dropzone.css' rel='stylesheet' type='text/css'> -->
    <!--for facebook shares -->
    <meta property="og:url" content="http://www.blavity.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Blavity Bulletin"/>
    <meta property="og:description"
          content="Blavity is a tech company for forward thinking Black millennials pushing the boundaries of culture and the status quo."/>
    <meta property="og:image"
          content="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2014/11/IMG_9764.jpg?d600af"/>
    <!--/ for facebook shares-->
    <link href="/plugins/angular-loading-bar/loading-bar.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/plugins/angular-loading-bar/loading-bar.js"></script>
    <script src="/js/angular-cookies.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
    <script src="/js/plugins/angularLike.js"></script>
    <script src="/plugins/angular-slugify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="/plugins/angular-ui-select2/select2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <% include google-analytics %>
    <% include google-dfp-head %>

</head>
