<!--infinite scroll-->
<div id="infinite-articles">

   <div class="fade animate-hide" ng-repeat="fullArticle in fullArticles" parse-fbml>
     <!--leaderboard ads-->
     <div ng-show="1 == 1">

      <section class="bg-lighten-6" id="leaderboard-header">
        <div class="container center py4">
          <div class="clearfix max-width-3 mx-auto center" id="adSlotA-{{ fullArticle._id }}">
          </div>
        </div>
      </section>

     </div>
     <!--/leaderboard ads-->

     <section class="clearfix featured-video bg-lighten-8 center" ng-hide="fullArticle.videourl =='null' ">
       <div class="center">
         <span render-iframely page-href="{{ fullArticle.videourl }}"></span>
       </div>
     </section>


        <article name="{{ fullArticle.slug }}" scrollUrl article="fullArticle">
          <div class="scrollMarker" data-url="/{{fullArticle.slug }}" data-title="{{fullArticle.title }}"></div>

              <section ng-show="fullArticle._featuredImage || fullArticle.wp_featuredImage" ng-hide="fullArticle.videourl != 'null' " class="banner" style="background: url('{{fullArticle._featuredImage ? 'http://preview.blavity.com' + fullArticle._featuredImage : fullArticle.wp_featuredImage}}') no-repeat top center;background-size: cover;">
                  <img class="single-post-banner" ng-src="{{ (fullArticle._featuredImage || fullArticle.wp_featuredImage) ? 'http://placehold.it/1900x800' : 'http://placehold.it/1900x300' }}" />
              </section>

              <section class="single_post second-container mx-auto" ng-class="{ single_video_post : fullArticle.videourl != 'null' }">
                  <section class="clearfix sm-p2 md-p3">
                    <article class="sm-col column-7 sm-pr4 catcher">
                        <header>
                          <!--categories-->
                          <div class="breadcumbs gray">
                              <a href="http://preview.blavity.com/categories/{{ category.slug }}" class="btn light-gray" ng-repeat="category in fullArticle.categories">{{ category.name | unsafe }}</a>
                          </div>
                          <!--/categories-->

                          <div class="group"><h2 class="article-title">{{ fullArticle.title }}</h2></div>
                          <div class="group"><p class="article-sub-title">{{ fullArticle.subTitle }}</p></div>

                          <div class="clearfix pb3">
                            <a href="http://preview.blavity.com/author/{{ fullArticle._author ? fullArticle._author.username : 'BlavityFam' }}" title="Blavity - {{ fullArticle._author ? fullArticle._author.username : 'BlavityFam' }}">
                              <div class="sm-col xs-col-12 md-pb2 sm-col-12 md-col-12 lg-col-7 pr2 user-profile">
                                <div class="clearfix">
                                  <img class="circle left mr1" ng-src="http://www.gravatar.com/avatar/{{ (fullArticle._author ? fullArticle._author.email  :  'somebody@test.com') | hash }}" width="35" height="35" />
                                  <p class="m0 gray left">
                                    <div class="bold author-name">{{ fullArticle._author ? fullArticle._author.username : "BlavityFam" }}</div>
                                    <div class="h6">{{ fullArticle.updated_at |timeago }}</div>
                                  </p>
                                </div>
                              </div>
                            </a>

                            <div stickyicky class="transition">
                              <social-buttons class="single-post-share list-reset right m0"
                                              data-title="{{ fullArticle.title }}"
                                              data-slug="{{ fullArticle.slug | urlSlug }}"
                                              data-picture="{{ fullArticle.wp_featuredImage }}">
                              </social-buttons>
                            </div>

                          </div>
                        </header>


                        <img ng-repeat="media in fullArticle._medias" ng-src="http://preview.blavity.com/{{ media.filename }}"/>
                        <!--/media-->

                        <!--body-->
                        <div class="article-body" ng-bind-html="TrustDangerousSnippet(fullArticle.body) "><p>{{fullArticle.body | linkify}}</p></div>
                        <!--/body-->

                        <!--tags-->
                        <div class="breadcumbs gray">
                            <a href="http://preview.blavity.com/tags/{{ tag.slug }}" class="btn light-gray tag" ng-repeat="tag in fullArticle.tags">{{ tag.name | unsafe }}</a>
                        </div>
                        <!--/tags-->

                        <p class="gray">Remember, sharing is caring.</p>
                        <div class="sm-col xs-col-12 md-pb2 sm-col-12 md-col-12 lg-col-8">
                          <ul class="single-post-share-end list-reset m0">
                            <li class="single_post_social_btn facebook-blue"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://preview.blavity.com/{{fullArticle.slug | urlSlug }}&title={{ fullArticle.title }}"><i class="fa fa-facebook"></i></a></li>
                            <li class="single_post_social_btn twitter-blue"><a rel="canonical" target="_blank" href="https://twitter.com/intent/tweet?text={{ fullArticle.title }}&url=http://preview.blavity.com.{{fullArticle.slug | urlSlug }}&via=blavity" rel="me" class="black"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li class="single_post_social_btn" ng-hide="!allShareOptions"><a href="javascript:void(0);" class="black"><i class="fa fa-pinterest"></i></a></li> -->
                            <!-- <li class="single_post_social_btn" ng-hide="!allShareOptions" ><a href="javascript:void(0);" class="black"><i class="fa fa-google-plus"></i></a></li> -->
                            <!-- <li class="single_post_social_btn"><a href="javascript:void(0);" class="black"><i class="fa fa-envelope"></i></a></li> -->
                            <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && isIOS()"><a target="_blank" href="sms:&body=Check out this Blavity post, http://preview.blavity.com/{{ fullArticle.slug | urlSlug }} - {{ fullArticle.title }}" class="black"><i class="material-icons">sms</i></a></li>
                            <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && !isIOS()"><a target="_blank" href="sms:?body=Check out this Blavity post, http://preview.blavity.com/{{ fullArticle.slug | urlSlug }} - {{ fullArticle.title }}" class="black"><i class="material-icons">sms</i></a></li>
                            <li class="single_post_social_btn blavity-gold" ng-show="!isMobile()"><a href="mailto:?Subject=Check%20out%20this%20Blavity%20post%20-%20{{ fullArticle.title }}&Body=http://preview.blavity.com/{{ fullArticle.slug | urlSlug }}" class="black"><i class="fa fa-envelope"></i></a></li>

                            <!-- <li class="single_post_social_btn"  ng-hide="allShareOptions" ng-click="allShareOptions = !allShareOptions"><a href="javascript:void(0);" class="black"><i class="fa fa-ellipsis-h"></i></a></li> -->
                          </ul>
                        </div>

                        <hr>
<!--
          <div class="row group comments-container">
                <h3 class="gray mt4 fb-comments-heading">What do you think ?</h3>
                <textarea class="form-control comment-input" rows="5" ng-model="fullArticle.newComment"  placeholder="Type here to leave a comment..."></textarea>
                <button ng-show="fullArticle.newComment" ng-click="saveComment(fullArticle)" class="add-comment-button">save comment</button>
                <ul class="comments">
                  <li class="comment" ng-repeat="comment in fullArticle.comments">
                    <div class="comment-avatar"></div>
                    <div class="group coment-details">
                      <div class="comment-date"> {{ comment.created_at | date:'MMM d, y h:mm a' }} </div>
                      <div class="comment-author"> Somebodyelse </div>
                      <div class="comment-body">{{ comment.body }}</div>
                    </div>
                  </li>
                </ul>
                <button ng-click="loadComments(fullArticle)" class="load-comments-button btn btn-green"><i class="fa fa-plus"></i> thoughts</button>
          </div>
           -->

          <div class="fb-comments-container" id="fb-comment-{{ fullArticle._id }}">
            <h3 class="gray mt4 fb-comments-heading">What do you think?</h3>
            <div class="fb-comments" data-href="http://preview.blavity.com/{{ fullArticle.slug | urlSlug }}" data-width="100%" data-numposts="5"></div>
          </div>

          <div class="group author-panel" ng-show="theAuthor != null">
                <div class="group author-panel-header">
                  <div class="avatar-large"></div>
                  <div class="author-name">{{ fullArticle._author.username || 'Somebody' }}</div>
                  <div class="author-url">{{ fullArticle._author.url || 'http://somebody.com' }}</div>
                  <div class="author-social">
                    <div class="author-social-bar">
                      <div class="group"><i class="fa fa-facebook"></i></div>
                      <div class="group"><i class="fa fa-instagram"></i></div>
                      <div class="group"><i class="fa fa-twitter"></i></div>
                      <!-- <div class="group"><i class="fa fa-youtube"></i></div>
                      <div class="group"><i class="fa fa-soundcloud"></i></div>
                      <div class="group"><i class="fa fa-pinterest"></i></div>
                      <div class="group"><i class="fa fa-google-plus"></i></div>
                      <div class="group"><i class="fa fa-envelope"></i></div> -->
                    </div>
                  </div>

                </div>
                <div class="group author-bio">
                  {{ fullArticle._author.bio || 'Somebody is an outstanding writer and a great person. They work at a great place too. You can see more of their work here. or follow them on the Twitter.' }}
                </div>
          </div>
                    </article>
                    <% include sidebar %>
                  </section>
              </section>
        </article>

      <div class="article-end" data-id="{{ fullArticle.slug }}"></div>
   </div>
</div>
<!--/infinite scroll-->
