<aside class="videos sm-col column-3 sticky" ng-controller="AdCtrl as Ad">

    <div class="sm-col-12 mb1 mt3">
      <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Social Hood Watch"><img src="/images/blavity-social-hood-watch.png"></a>
    </div>

    <div class="sm-col-12 mb1 mt3">
      <div class="fb-page" data-href="https://www.facebook.com/Blavity" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Blavity"><a href="https://www.facebook.com/Blavity">Blavity</a></blockquote></div></div>
    </div>

    <div class="sm-col-12 mb1 mt3">
      <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Blavity News"><img src="/images/blavity-news.png"></a>
    </div>

    <div class="sm-col-12 mb1 mt2 py2 center" id="adSlotB-{{ fullArticle._id }}" ng-show="sideBarHasAd">
        <% include ads/ad-300x250 %>
    </div>
    <div class="sm-col-12 mb2 mt3">
      <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - The Hungry Hutch, Blavity Foodie"><img src="/images/blavity-the-hungry-hutch.png"></a>
    </div>
    <div class="sm-col-12 mb2 mt3">
      <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Between Two Sistas"><img src="/images/blavity-between-two-sistas.png"></a>
    </div>


    <%
    var j=3;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=0; i<3; i++) { %>

    <div class="sm-col-12 mb1 mt3 awesome-stuff">
        <a href="http://preview.blavity.com/<%= urlSlug(articles[i].slug) %>" title="<%= urlSlug(articles[i].title) %>"><h3 class="bold mb0 mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3></a>
        <p class="h5 mxn2 m0 gray">
          <a class="bold btn" href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"><%= moment(articles[i].updated_at).fromNow() %></time>
        </p>
        <p class="h6 m0"><%- truncatePostContent(articles[i].body, 100) %></p>
    </div>

  <% } %>

      <!-- <div class="sm-col-12 mb1 mt2">
          <% //include ads/ad-300x250 %>
      </div> -->

</aside>
