<section id="subscribe_div">
  <div class="clearfix">
    <div class="sm-col sm-col-5 xs-col-12 px1 left xs-absolute">
      &nbsp;
    </div>
    <div class="sm-col sm-col-7 xs-col-12 right subsriber-bg" style="background: url('/images/blavity-news-daily.jpg') no-repeat top center;background-size: cover;">
      <img src="/images/blavity-news-daily.jpg" class="mb3" style="opacity:0;">
    </div>
    <div class="sm-col sm-col-12 xs-col-12 subscribe">
      <div class="p2 bg-white">
          <h1 class="regular m0 mb2">Blavity, delivered to you. Daily</h1>
          <form class="clearfix" action="https://blavity.us3.list-manage.com/subscribe/post" method="POST">
              <input type="hidden" name="u" value="1b39ebfcd6c17dabcddd5a9b5">
              <input type="hidden" name="id" value="b53d5e9f25">
              <input type="hidden" name="ht" value="1fad08da71abeceb7f893f4ebad69040b5cf7696:MTQ3MDk4MzYxMC43MTEx">
              <input type="hidden" name="mc_signupsource" value="hosted">
              <input type="hidden" name="MERGE5" id="MERGE5" size="25" value="">

            <div class="form-group clearfix">
              <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" type="email" class="input-inline sm-col-9 col" placeholder="Email Address">
              <!-- <input class="sm-col-3 col get_it_btn" type="submit" class="button" name="submit" value="Get it"> -->
              <button class="sm-col-3 col get_it_btn" type="submit" class="button" name="submit">Get it</button>
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox"><span class="h6">I agree that by entering my email address, I'm getting hooked up with the dopeness</span>
              </label>
            </div>
          </form>
        </div>
    </div>
  </div>
</section>
