<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<body>
<% include partials/header %>







<% include partials/footer %>
<!--<script src="js/md5.js"></script>-->

<!--<script src="/socket.io/socket.io.js"></script>-->

<!--<script src="js/page.js"></script>-->
</body>
</html>
