<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" >
<% include partials/head %>
<body ng-app="StaticRealtimeBlog" ng-controller="AuthorCtrl as Author">
<% include partials/header %>

<section id="author" class="container pt4">
  <article class="max-width-3 mx-auto">
    <div class="clearfix">
      <div class="sm-col sm-col-3 xs-col-12 mb3 author-image">
  		    <img class="circle" src="http://www.gravatar.com/avatar/<%= authors ? md5(authors.email) : 'somebody@test.com'; %>"/>
      </div>
      <div class="sm-col sm-col-9 xs-col-12 sm-pl4 xs-center author-info">
        <h2 class="h1 color-darken-5 regular mt0"><%= authors.username %> <span class="gray"><%= authors.display_name %></span></h2>
        <div class=" clearfix sm-col-12">
          <ul class="single-post-share list-reset clearfix sm-col-12 sm-pb1">
            <li class="single_post_social_btn"><a href="javascript:void()" class="black"><i class="fa fa-facebook"></i></a></li>
            <li class="single_post_social_btn"><a href="javascript:void()" class="black"><i class="fa fa-instagram"></i></a></li>
            <li class="single_post_social_btn"><a href="javascript:void()" class="black"><i class="fa fa-twitter"></i></a></li>
            <li class="single_post_social_btn"><a href="javascript:void()" class="black"><i class="fa fa-snapchat-ghost"></i></a></li>
          </ul>
        </div>
        <a href="janeswebsite.com" class="h3 gray"><%= authors.website %></a>
        <p><%= authors.bio %> </p>
      </div>
    </div>
    <hr/>
  </article>
</section>

<section id="author_post" class="container">
  <div class="max-width-3 mx-auto">
    <h3 class="gray center regular"><%= authors.username %>'s posts</h3>

    <%
      for(var i=0;i<articles.length;i++){
      %>
      <article class="xs-center">
        <figure>
          <img class="fit" check-image src="<%= articles[i]._featuredImage !=null ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>" />
          <figcaption>
            <a href="/<%= articles[i].slug %>" title="<%= articles[i].title %>">
              <h2 class="h1 color-darken-5 regular mb0"><%= articles[i].title ? articles[i].title : "Some Awesome stuff"; %></h2>
            </a>
            <time class="gray block h3"><%= moment(articles[i].updated_at).fromNow() %></time>
            <p><%- truncatePostContent(articles[i].body, 390) %></p>
          </figcaption>
        </figure>
      </article>


      <%
      }
    %>

  </div>
</section>

<section id="similar_post" class="py4" ng-if="isSimilarpost">
  <div class="clearfix container mx-auto center">
    <h2 class="regular border-bottom inline-block relative similar-post-heading">Be like janedeaux, post on Blavity</h2>
  </div>
  <div class="clearfix container mx-auto">
    <div class="xs-col-12">
        <h2 class="regular color-darken-5 xs-center">Here are some posts by similar authors...</h2>
    </div>

    <figure class="sm-col xs-col-12 sm-col-4 md-col-4 lg-col-4 sm-px1 mb3 xs-center">
      <div class="feature-image">
        <img src="http://placehold.it/240x240" height="110" width="240">
      </div>
      <figurecaption>
        <h3 class="black mb0 mt1 color-darken-5">Some Other Really Cool</h3>
        <time class="h4 gray block">10 weeks ago</time>
        <p class="para-ellips " data-char="175">
          Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.
        </p>
      </figurecaption>
    </figure>

    <figure class="sm-col xs-col-12 sm-col-4 md-col-4 lg-col-4 sm-px1 mb3 xs-center">
      <div class="feature-image">
        <img src="http://placehold.it/240x240" height="110" width="240">
      </div>
      <figurecaption>
        <h3 class="black mb0 mt1 color-darken-5">Some Other Really Cool</h3>
        <time class="h4 gray block">10 weeks ago</time>
        <p class="para-ellips " data-char="175">
          Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.
        </p>
      </figurecaption>
    </figure>

    <figure class="sm-col xs-col-12 sm-col-4 md-col-4 lg-col-4 sm-px1 mb3 xs-center">
      <div class="feature-image">
        <img src="http://placehold.it/240x240" height="110" width="240">
      </div>
      <figurecaption>
        <h3 class="black mb0 mt1 color-darken-5">Some Other Really Cool</h3>
        <time class="h4 gray block">10 weeks ago</time>
        <p class="para-ellips " data-char="175">
          Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.
        </p>
      </figurecaption>
    </figure>

  </div>
</section>
<%
  if(totalpost>3){
%>
<section class="clearfix py2">
  <div class="container center">
    <div class="max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray" >Load More</p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>
<%
  }
%>

<% include partials/footer %>
<!--<script src="/js/page.js"></script>-->

</body>
</html>
