<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="AuthCtrl">
<% include partials/head %>
<body>
<% include partials/header %>
<section class="clearfix bg-white pt3">
 <div class="container py4">
    <div class="max-width-3 mx-auto">
      <h2 class="h2 color-lighten-1 m0">Forgot Password</h2>
      <hr class="sm-col sm-col-12 mx-auto">
    </div>
    <div class="clearfix max-width-3 mx-auto sm-pt4">
      <form class="max-width-2 mx-auto ng-pristine ng-valid login_form" name="forgotPasswordForm" ng-if="!successMsg && !resetToken">
        <div class="clearfix" ng-if="errorMsg">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <div class="sm-col sm-col-8 xs-col-12 red">
            {{errorMsg}}
          </div>
        </div>
        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Email</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Email" type="email" name="email" ng-model="forgottenEmail">
          </div>
        </div>
        <div class="clearfix btn-group">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <button class="btn btn-outline bg-light-green no-radius sm-col sm-col-8 xs-col-12" ng-disabled="!forgottenEmail || !forgotPasswordForm.email.$valid" type="button" ng-click="sendReset(forgottenEmail)">Get Reset Link</button>
        </div>

      </form>

      <form class="max-width-2 mx-auto ng-pristine ng-valid login_form" name="newPasswordForm" ng-show="resetToken && !successMsg" ng-init="resetToken = '<%=locals.resetToken%>'">
        <div class="clearfix" ng-if="errorMsg">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <div class="sm-col sm-col-8 xs-col-12 red">
            {{errorMsg}}
          </div>
        </div>


        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">New Password</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="New Password" type="password" ng-model="password" name="password" required>
          </div>
        </div>

        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Retype Password</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Password one more time" type="password" ng-model="passwordAgain" name="passwordAgain" required>
          </div>
        </div>

        <div class="clearfix btn-group">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <button class="btn btn-outline bg-light-green no-radius sm-col sm-col-8 xs-col-12" ng-disabled="!password || !passwordAgain || (password != passwordAgain)" type="button" ng-click="sendNewPassword(password, resetToken)">Save new password</button>
        </div>
      </form>
      <div class="max-width-3 mx-auto green" ng-if="successMsg">
        {{successMsg}}
      </div>
    </div>

    <div class="clearfix center hide">
      <div class="max-width-2 mx-auto pt2">
        <p class="inline-block left-align gray py2 xs-center">Be through this already? To login go here <a href="/login" class="register_btn text-decoration">Login</a></p>
        <hr class="sm-col sm-col-12 mt1">
        <p class="inline-block left-align gray py2 xs-center"><b>Wait, what?</b> Gotta be logged in to post fam ! If you haven't registered yet, you can go ahead and do that here <a href="/register" class="register_btn text-decoration">Register</a></p>
      </div>
    </div>
  </div>

</section>
<% include partials/footer %>
<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="/js/md5.js"></script>-->

<!--<script src="/socket.io/socket.io.js"></script>-->

<!--<script src="js/home.js"></script>-->
</body>
</html>
