<%
truncatePostContent = function (content, maxLength){
  var content = content ? String(content).replace(/<[^>]+>/gm, '') : '';//remove html tags from string
  //console.log("raw text: "+ content);
  //trim the string to the maximum length
  var trimmedString = content.substr(0, maxLength);
  //re-trim if we are in the middle of a word
  return trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) + "...";
}// end truncatePostContent

truncateAsWord=function(str,length) {
    return str.split(/\s+/).slice(0,length).join(" ");
}

urlSlug = function(slug) {
  if (slug){
    var slug = slug.toLowerCase().replace(/\s+/g, "-"); //replace spaces with dashes
    //remove any other weird characters with
    return slug.replace(/[^a-zA-Z0-9-_]/g, '');
  }
}

linkify = function (text) {
  if(text){
    var urlRegex =/\s(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    });
  }
}
%>
