<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<body>
<% include partials/header %>

<section id="banner" class="pb3">
  <div class="clearfix">
    <div class="sm-col col xs-col-12 sm-col-8 left">
      <% if (locals.articles[0]) { %>
        <% if (articles[0].wp_featuredImage || articles[0].featuredImage) { %>
        <a href="/<%= urlSlug(articles[0].slug) %>" title="<%- articles[0].title %>">
          <img width="1200" height="550" check-image src="<%= articles[0]._featuredImage !=null ? 'http://preview.blavity.com' + articles[0]._featuredImage : articles[0].wp_featuredImage; %>">
        </a>

        <% } %>
      <% } %>
      <!-- <time class="absolute bg-black white h6 px1 right-0 time">2:34 </time> -->
    </div>
    <% if (typeof articles[0] !== 'undefined') { %>
    <div class="sm-col col xs-col-12 sm-col-4 right">
      <div class="p3">
        <div class="breadcumbs gray">
          <%
          if(articles[0].categories){

          for(var i=0; i < articles[0].categories.length; i++) {%>
              <a href="http://preview.blavity.com/categories/<%- articles[0].categories[i].slug %>" class="btn gray"><%- articles[0].categories[i].name %></a>
          <% }
          } %>
        </div>

        <a href="/<%= urlSlug(articles[0].slug) %>" title="<%- articles[0].title %>"><h3 class="h2 mt1"><%- articles[0].title %></h3></a>
        <div class="clearfix mb1 user-name">
          <div class="sm-col xs-col-12 sm-col-12 mb2 slide-user-profile">
            <div class="clearfix">
              <div class="sm-col sm-col-4 md-col-7 lg-col-5 pr2 user-profile">
                  <img class="circle left mr1" src="http://www.gravatar.com/avatar/<%= articles[0]._author ? md5(articles[0]._author.email) : 'somebody@test.com'; %>?d=<%= encodeURI('http://preview.blavity.com/images/1px.png') %>" width="35" height="35" />

                <p class="m0 gray" >
                  <a class="bold" href="<%= articles[0]._author ? '/author/'+articles[0]._author.username : 'javascript:void(0);'; %>"><%= articles[0]._author ? articles[0]._author.username : "BlavityFam"; %></a>
                  <div class="h6"><%= moment(articles[0].updated_at).fromNow() %></div>
                </p>
              </div>
              <div class="sm-col sm-col-8 md-col-5 lg-col-7">
                <ul class="list-reset right m0">
                  <li class="social_btn facebook-blue"><a target="_blank" class="black" href="http://www.facebook.com/sharer/sharer.php?u=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>&title=<%- articles[0].title %>"><i class="fa fa-facebook"></i></a></li>
                  <li class="social_btn twitter-blue"><a rel="canonical" target="_blank" href="https://twitter.com/intent/tweet?text=<%= urlSlug(articles[0].slug) %>&url=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>&via=blavity" rel="me" class="black"><i class="fa fa-twitter"></i></a></li>
                  <li class="social_btn blavity-gold" ng-show="isMobile() && isIOS()"><a target="_blank" href="sms:&body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(articles[0].slug) %> - <%- articles[0].title %>" class="black"><i class="material-icons">sms</i></a></li>
                  <li class="social_btn blavity-gold" ng-show="isMobile() && !isIOS()"><a target="_blank" href="sms:?body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(articles[0].slug) %> - <%- articles[0].title %>" class="black"><i class="material-icons">sms</i></a></li>
                  <li class="social_btn blavity-gold" ng-show="!isMobile()"><a href="mailto:?Subject=Check%20Out%20This%20Blavity%20Post%20-%20<%- articles[0].title %>&Body=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>" target="_top"><i class="fa fa-envelope"></i></a></li><!--desktop-->
                </ul>
              </div>
            </div>
          </div>

          <p class="header-para-ellips sm-col-12" data-char="390"><%- truncatePostContent(articles[0].body, 390) %></p>

        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<section id="features" class="py4 bg-lighten-5">
  <div class="clearfix container mx-auto">
    <%
    var j=4;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i = 1; i < 5; i++) {
      if (typeof articles[i] != 'undefined') {
    %>

      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (typeof articles[i].wp_featuredImage != 'undefined' || typeof articles[i].featuredImage != 'undefined') { %>
        <div class="feature-image">
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </div>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="regular mb0 mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="bold gray"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"> • <%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
        <p class="h6 m0 para-ellips " data-char="175"><%- linkify(truncatePostContent(articles[i].body, 175)) %></p>
      </a>

      </div>
    <% }
    }%>
  </div>
</section>

<% include partials/subscribe1 %>

<!-- <section class="bg-lighten-6">
  <a target="_blank" href="http://blavity.com/advertising/">
    <img src="http://blavity.com/wp-content/uploads/2016/06/we-will-be-1-1194x420@2x.png">
  </a>
</section> -->

<section class="bg-white py2">
  <div class="container center pt1">
    <div class="clearfix max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Popular Posts </p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="videos" class="center py4 bg-lighten-8">
  <div class="clearfix container mx-auto">
    <%
    var j=2;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i = 5; i < 7; i++) {
      if (typeof articles[i] != 'undefined'){
    %>
    <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
      <div class="sm-col sm-col-12 md-col-6 relative">
        <% v= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage;
        if(v==='' || v==null)
            v='http://placehold.it/1900x600';
         %>
        <div class="videos-image" style="background: url('<%= v %>') no-repeat top center;background-size: cover;">
          <img width="1200" height="550" check-image src="" style="opacity:0;">
        </div>
        <div class="xs-col-12 sm-col-12 bottom-0 bg-black left-align p2">
        <!-- <div class="absolute xs-col-12 sm-col-12 bottom-0 bg-black left-align p1"> -->
          <h3 class="mb0 mt1 pop-video-text"><%- articles[i].title ? articles[i].title : ""; %></h3>
          <p class="h5 m0">
            <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="bold pop-video-text"><%= articles[i]._author ? articles[i]._author.username : ""; %></a>
            <time class="black h6 pop-video-text"> • <%= moment(articles[i].updated_at).fromNow() %></time>
          </p>
          <!-- <time class="absolute bg-black white h6 px1 right-0 time">2:34</time> -->
        </div>
      </div>
    </a>
    <% }
    }%>
  </div>
</section>

<!-- <section class="pt3">

  <div class="container center">
    <div class="clearfix max-width-3 mx-auto py4">
      <% //include partials/ads/ad-banner-top %>
    </div>
  </div>
</section> -->

<section class="clearfix center py2">
  <div class="container center pt1 ">
    <div class="max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Recent Posts</p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="recent_post">
  <div class="clearfix container mx-auto">
    <div class="sm-col column-7 sm-pr2">
      <%
      var j=4;
      if(j>articles.length){
        j=articles.length;
      }
      for(var i=10; i<14; i++) {
        if (typeof articles[i] != 'undefined'){
      %>
          <div class="clearfix">
            <div class="sm-col sm-col-6 xs-col-12 px1">
              <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                <h3 class="black mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
              </a>
              <div class="clearfix mb1">
                <div class="left mr1">

                  <img class="circle" src="http://www.gravatar.com/avatar/<%= articles[i]._author ? md5(articles[i]._author.email) : 'somebody@test.com'; %>?d=<%= encodeURI('http://preview.blavity.com/images/1px.png') %>" width="35" height="35" />
                </div>
                <div class="overflow-hidden">
                  <p class="m0 gray h4">
                    <a class="bold author-name gray" href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
                    <div class="h6"><%= moment(articles[i].updated_at).fromNow() %></div>
                  </p>
                </div>
                <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                  <p class="h4 black regular m0 mt1 say-para-ellips" data-char="180"><%- linkify(truncatePostContent(articles[i].body, 180)) %></p>
                </a>

              </div>
            </div>
            <div class="sm-col sm-col-6 xs-col-12 sm-px1">

              <div class="recent_post_images">
                <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                  <img width="360" height="170" class="fit"  check-image src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
                </a>
              </div>
            </div>
          </div>
          <hr class="my2" />
      <% }
      }%>

      <div class="clearfix  mx-auto py2">
        <% include partials/ads/ad-banner-inf %>
      </div>
    </div>
    <div class="column-3 sm-col">
      <div class="clearfix">
        <div class="sm-col sm-col-12 py2">
          <% include partials/ads/ad-300x250 %>
        </div>
        <div class="sm-col sm-col-12 pb2">
          <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Social Hood Watch"><img src="/images/blavity-social-hood-watch.png"></a>
        </div>
        <div class="sm-col-12 mb1 mt3">
          <div class="fb-page" data-href="https://www.facebook.com/Blavity" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Blavity"><a href="https://www.facebook.com/Blavity">Blavity</a></blockquote></div></div>
        </div>
        <div class="sm-col sm-col-12 pb2">
          <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Blavity News"><img src="/images/blavity-news.png"></a>
        </div>
        <div class="sm-col sm-col-12 pb2">
          <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - The Hungry Hutch, Blavity Foodie"><img src="/images/blavity-the-hungry-hutch.png"></a>
        </div>
        <div class="sm-col sm-col-12 pb2">
          <a target="_blank" href="http://preview.blavity.com/videos/" title="Blavity - Between Two Sistas"><img src="/images/blavity-between-two-sistas.png"></a>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="infinite-articles">
  <div class="clearfix container mx-auto">
    <div class="sm-col column-7 sm-pr2">
        <div ng-repeat="article in more_articles track by $index">

          <div class="center clearfix mx-auto py2" id="adSlotC-{{ article._id }}">
          </div>

          <div class="clearfix">
            <div class="sm-col sm-col-6 xs-col-12 px1">
              <a href="/{{ article.slug }}" title="{{ article.title }}" >
                <h3 class="black mt1">{{ article.title || "Check This Out" }}</h3>
              </a>
              <div class="clearfix mb1">
                <div class="left mr1">
                  <img class="circle" ng-src='http://www.gravatar.com/avatar/{{ article._author.email | hash }}?d={{ encodeURI('http://preview.blavity.com/images/1px.png') }}' width="40" height="40" />
                </div>
                <div class="overflow-hidden">
                  <p class="m0 gray h4">
                    <a class="bold author-name gray" href="{{ article._author.username ? '/author/'+article._author.username : 'javascript:void(0);' }}">{{ article._author.username || "BlavityFam" }}</a>
                    <div class="h6">{{ article.updated_at | timeago }}</div>
                  </p>
                </div>
                <a href="/{{ article.slug }}" title="{{ article.title }}" >
                  <p class="h4 black regular m0 mt1 say-para-ellips" data-char="180">{{ article.body | unsafe | truncatePostContent:180 | linkify }}</p>
                </a>
              </div>
            </div>
            <div class="sm-col sm-col-6 xs-col-12 sm-px1">

            <div class="recent_post_images">
              <a href="/{{ article.slug }}" title="{{ article.title }}" >
                <img width="360" height="170" class="fit" check-image ng-src="{{ article._featuredImage ? 'http://preview.blavity.com' + article._featuredImage : article.wp_featuredImage }}">
              </a>
            </div>

            </div>
          </div>
          <hr class="my2" />
      </div>
      <!--end ng repeat-->

    </div>

  </div>
</section>

<div class="clearfix mx-auto py2">
  <% include partials/ads/ad-banner-inf %>
</div>

<section class="clearfix py2">
  <div class="container center">
    <div class="max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray load-more-posts" ng-click="loadMoreArticles()">Load More</p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<% include partials/footer %>
</body>
</html>
