<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="AuthCtrl as Auth">
<% include partials/head %>
<body>
<% include partials/header %>
<section class="clearfix bg-white pt3">
 <div class="container py4">
    <div class="max-width-3 mx-auto">
      <h2 class="h2 color-lighten-1 m0">Login</h2>
      <hr class="sm-col sm-col-12 mx-auto">
    </div>
    <div class="clearfix max-width-3 mx-auto sm-pt4">
      <form class="max-width-2 mx-auto ng-pristine ng-valid login_form" name="loginForm">
        <div class="clearfix" ng-if="authError">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <div class="sm-col sm-col-8 xs-col-12 red">
            Invalid Username and password
          </div>
        </div>
        <% if (typeof locals.answerSuccess != "undefined") { %>
          <div class="clearfix">
            <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
            <% if (answerSuccess) { %>
              <div class="sm-col sm-col-8 xs-col-12 green">
                <%= answerMessage %>
              </div>
            <% }else { %>
              <div class="sm-col sm-col-8 xs-col-12 red">
                <%= answerMessage %>
              </div>
            <% };%>
          </div>
        <% };%>
        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Email</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Email" type="email" name="email" ng-model="user.email">
          </div>
        </div>
        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Password</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Password" type="password" ng-model="user.password">
          </div>
        </div>
        <div class="clearfix btn-group">
            <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <button class="btn btn-outline bg-light-green no-radius sm-col sm-col-8 xs-col-12" ng-disabled="!loginFormValid" type="button" ng-click="signIn(user)">Sign In</button>
        </div>
      </form>
    </div>
    <div class="clearfix center">
      <div class="max-width-2 mx-auto pt2">
        <p class="inline-block left-align gray py2 xs-center"><b>Wait, what?</b> Gotta be logged in to post fam! If you haven't registered yet, you can go ahead and do that here <a href="/register" class="register_btn text-decoration">Register</a></p>
        <hr class="sm-col sm-col-12 mt1">
        <p class="gray pt3 ">Can't remember which of your rotating passwords you used? Don't sweat it.<a href="/forgotpassword" class="gray text-decoration"><b> Reset your password here.</b></a></p>
        <!-- <p class="gray pt3 ">Forgot your password? <a href="/forgotpassword" class="gray text-decoration"><b>Don't worry, we got you.</b></a></p> -->
      </div>
    </div>
  </div>

</section>



<% include partials/footer %>
<!--<script src="/js/md5.js"></script>-->

<!--<script src="/socket.io/socket.io.js"></script>-->

<!--<script src="/js/page.js"></script>-->
</body>
</html>
