<!doctype html>
<html class="no-js" lang="en">
<% include partials/head %>
<!-- Editor Style -->
<link rel="stylesheet" href="/plugins/editor/css/froala_editor.css">
<link rel="stylesheet" href="/plugins/editor/css/froala_style.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/code_view.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/colors.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/emoticons.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/image_manager.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/image.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/line_breaker.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/table.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/char_counter.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/video.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/fullscreen.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/file.css">
<link rel="stylesheet" href="/plugins/editor/css/plugins/quick_insert.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

<body ng-app="StaticRealtimeBlog" ng-controller="AddPostCtrl">
<link rel="stylesheet" href="js/plugins/dropzone-4.3.0/dist/dropzone.css">

<% include partials/header %>
<section class="py4 bg-lighten-5" id="features">
    <div class="clearfix container mx-auto">
        <div class="container">
            <h1 class="sm-col sm-col-12 color-darken-5 regular my3 py2 fs38 main-head">What type of post this be ? </h1>
            <div class="btn-container center m0 post-list-wrapper">
                <ul class="list-reset inline sm-col  mx-auto m0 bold gray ">
                    <li class=" border" data-ref="opinion" ng-class="{active : posttype == 0}"
                        data-ng-click="posttype=0">Opinion
                    </li>
                    <li class=" border " data-ref="listicle" ng-class="{active : posttype == 1}"
                        data-ng-click="posttype=1">Listicle
                    </li>
                    <li class=" border" data-ref="video" ng-class="{active : posttype == 2}" data-ng-click="posttype=2">
                        Video
                    </li>
                    <li class=" border" data-ref="vews" ng-class="{active : posttype == 3}" data-ng-click="posttype=3">
                        News
                    </li>
                    <li class=" border" data-ref="other" ng-class="{active : posttype == 4}" data-ng-click="posttype=4">
                        Other
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="bg-white tab tab-video" ng-class="{active : posttype == 2}">
    <div class="second-container clearfix mx-auto py2">
        <div class="left-align">
            <h4 class="m0 color-lighten-1">VIDEO</h4>
            <ul class="list-reset inline mx-auto m0 video-tabs">
                <li ng-class="{active : videoType === 1}" ng-click="videoType=1"
                    class="m0 regular color-lighten-1 inline-block border ">Upload Video Files
                </li>
                <li ng-class="{active : videoType !== 1}" ng-click="videoType=0"
                    class="m0 regular color-lighten-1 inline-block border">Enter Video URL
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="bg-white tab tab-other" ng-class="{active : posttype == 4}">
    <div class="second-container clearfix mx-auto py2">
        <div class="left-align">
            <h4 class="m0 color-lighten-1">OTHER</h4>
            <p class="m0">Do your thing</p>
        </div>
    </div>
</div>

<div class="center py4 bg-lighten-5 tab tab-video" id="videos" ng-class="{active : posttype == 2}">
    <div class="clearfix second-container mx-auto">
        <div class="sm-col sm-col-12 md-col-12 relative" ng-show="videoType === 1">
            <form id="upload-widget" method="post" action="http://localhost:3100/upload" class="dropzone" >
                <div class="fallback">
                    <input name="file" type="file"/>
                </div>
                <label class="message dz-message">
                    <p><i class="fa fa-cloud-upload fa-5x"></i><br>Drag File here</p>
                    or tap/click to select
                </label>
                <div class="dz-preview dz-file-preview dz-file-preview1" style="display:none;">
                    <div class="dz-image">
                        <img data-dz-thumbnail/>
                    </div>
                    <div class="dz-details">
                        <div class="dz-size">
                      video      <span data-dz-size></span>
                        </div>
                        <div class="dz-filename">
                            <span data-dz-name></span>
                        </div>
                    </div>
                    <div class="dz-progress">
                        <span class="dz-upload" data-dz-uploadprogress></span>
                    </div>
                    <div class="dz-error-message">
                        <span data-dz-errormessage></span>
                    </div>
                    <div class="dz-success-mark">
                        <svg>REMOVED FOR BREVITY</svg>
                    </div>
                    <div class="dz-error-mark">
                        <svg>REMOVED FOR BREVITY</svg>
                    </div>
                </div>
            </form>
        </div>
        <div class="sm-col sm-col-12 md-col-12 relative" ng-show="videoType !== 1">
            <div class="form-group">
                <label class="h6 left-align">Video URL</label>
                <input type="text" name="videourl" class="block col-12 mb1 form-control"
                       placeholder="http://Video URL" ng-model="videourl">
            </div>
        </div>
    </div>
</div>

<div class="center py4 bg-lighten-5 tab tab-other" id="other" ng-class="{active : posttype == 4}">
    <div class="clearfix second-container mx-auto">
        <div class="sm-col sm-col-12 md-col-12 relative">
            <form method="post" action="http://localhost:3100/upload" class="dropzone" id="other-element">
                <div class="fallback">
                    <input name="file" type="file"/>
                </div>
                <label class="message dz-message">
                    <p><i class="fa fa-image fa-5x"></i><br>Click here to upload a header image.( Images closest to 1000x600 <br/> work best ) </p>
                </label>
                <div class="dz-preview dz-file-preview dz-file-preview1" style="display:none;">
                    <div class="dz-image">
                        <img data-dz-thumbnail/>
                    </div>
                    <div class="dz-details">
                        <div class="dz-size">
                      video      <span data-dz-size></span>
                        </div>
                        <div class="dz-filename">
                            <span data-dz-name></span>
                        </div>
                    </div>
                    <div class="dz-progress">
                        <span class="dz-upload" data-dz-uploadprogress></span>
                    </div>
                    <div class="dz-error-message">
                        <span data-dz-errormessage></span>
                    </div>
                    <div class="dz-success-mark">
                        <svg>REMOVED FOR BREVITY</svg>
                    </div>
                    <div class="dz-error-mark">
                        <svg>REMOVED FOR BREVITY</svg>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class=" bg-white py4" id="listicle">
    <div class="second-container mx-auto">
        <div class="clearfix">
            <div class="sm-col sm-col-12 column-7 tab tab-opinion" ng-class="{active : posttype == 0}">
                <div class="sm-col-12">
                    <h4 class="mt1 mb2 color-lighten-1">OPINION</h4>
                </div>
                <div class="sm-col sm-col-12">
                    <div class="clearfix">
                        <div class="left mr2">
                            <img class="circle"
                                 ng-src="{{user.image || 'http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg'}}"
                                 width="30" height="30">
                        </div>
                        <div class="right clearfix mr2 social-bar">
                            <ul class="list-reset right m0 color-lighten-1">
                                <li class="inline-block regular h6 color-lighten-1">{{nowDate  | date:'MMM dd, yyyy'}}</li>
                                /
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'h:mm a'}}</li>
                            </ul>
                        </div>
                        <div class="overflow-hidden">
                            <h3 class="m0 gray inline-block align-middle regular">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
                <hr class="col col-12 py1 mt2">
                <form class="col col-12">
                    <div class="form-group">
                        <label class="h6">Title</label>
                        <input type="text" name="title" class="block col-12 mb1 form-control"
                               placeholder="The Title of This Video" ng-model="postTitle">
                    </div>
                    <p class="h5 gray">sub-title <a class="collapse"><i class="fa fa-minus" ng-click="postSubTitle='';"></i></a></p>
                    <input type="text" name="subtitle"  class="block col-12 mb1 form-control"
                           placeholder="This post Could Definitely Be One Of them!" ng-model="postSubTitle">
                    <div class="form-group">
                        <label class="h6">Body Content</label>
                        <div class="text-editor" id="postBody0">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h6">Description (No need for HTML formatting here.) </label>
                        <textarea name="description" rows="4" ng-model="excerpt" class="block col-12 mb1 form-control"
                                  placeholder="Let people know what this video is about. Why should they wanna watch it?"></textarea>
                    </div>
                </form>
            </div>
            <div class="sm-col sm-col-12 column-7 tab tab-listicle" ng-class="{active : posttype == 1}">
                <div class="sm-col-12">
                    <h4 class="mt1 mb2 color-lighten-1">LISTICLE</h4>
                </div>
                <div class="sm-col sm-col-12">
                    <div class="clearfix">
                        <div class="left mr2">
                            <img class="circle"
                                 ng-src="{{user.image || 'http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg'}}"
                                 width="30" height="30">
                        </div>
                        <div class="right clearfix mr2 social-bar">
                            <ul class="list-reset right m0 color-lighten-1">
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'MMM dd, yyyy'}} </li>
                                /
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'h:mm a'}}</li>
                            </ul>
                        </div>
                        <div class="overflow-hidden">
                            <h3 class="m0 gray inline-block align-middle regular">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
                <hr class="col col-12 py1 mt2">
                <form class="col col-12">
                    <div class="form-group">
                        <label class="h6">Title</label>
                        <input type="text" name="title" class="block col-12 mb1 form-control"
                               placeholder="The top 10 Listicles Ever Written" ng-model="postTitle">
                    </div>
                    <div class="form-group">
                        <p class="h6 gray">sub-title <a class="collapse"><i class="fa fa-minus" ng-click="postSubTitle='';"></i></a></p>
                        <input type="text" name="title"  class="block col-12 mb1 form-control"
                               placeholder="This post Could Definitely Be One Of them!" ng-model="postSubTitle">
                    </div>
                    <div class="form-group">
                        <label class="h6">Summery</label>
                        <div class="text-editor" id="postBody1">

                        </div>
                    </div>
                    <div id="elements-container">
                        <div class="clearfix">
                            <div class="sm-col sm-col-12 draggable-element d-1 mb2">
                                <div class="sm-col xs-col xs-col-1 sm-col-1 form-group action-bar pt3 pr1"></div>
                                <div class="sm-col xs-col xs-col-11 sm-col-11 listicle-content">
                                    <div class="form-group mb0">
                                        <input type="text" name="title" 
                                               class="block col-12 mb0 form-control listicle-title"
                                               placeholder="The Title Name of thing 1">
                                    </div>
                                    <div class="text-editor listicle-body">
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col sm-col-12 draggable-element d-2 mb2">
                                <div class="sm-col xs-col xs-col-1 sm-col-1 form-group action-bar pt3 pr1"></div>
                                <div class="sm-col xs-col xs-col-11 sm-col-11 listicle-content">
                                    <div class="form-group mb0 ">
                                        <input type="text" name="title" 
                                               class="block col-12 mb0 form-control listicle-title"
                                               placeholder="The Title Name of thing 2">
                                    </div>
                                    <div class="text-editor listicle-body">
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col sm-col-12 draggable-element d-3 mb2">
                                <div class="sm-col xs-col xs-col-1 sm-col-1 form-group action-bar pt3 pr1"></div>
                                <div class="sm-col xs-col xs-col-11 sm-col-11 listicle-content">
                                    <div class="form-group mb0 ">
                                        <input type="text" name="title" 
                                               class="block col-12 mb0 form-control listicle-title"
                                               placeholder="The Title Name of thing 1">
                                    </div>
                                    <div class="text-editor listicle-body" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <hr class="col col-12 py1 mt2">
            </div>
            <div class="sm-col sm-col-12 column-7 tab tab-video" ng-class="{active : posttype == 2}">
                <div class="sm-col sm-col-12">
                    <div class="clearfix">
                        <div class="left mr2">
                            <img class="circle"
                                 ng-src="{{user.image || 'http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg'}}"
                                 width="30" height="30">
                        </div>
                        <div class="right clearfix mr2 social-bar">
                            <ul class="list-reset right m0 color-lighten-1">
                                <li class="inline-block regular h6 color-lighten-1">{{nowDate  | date:'MMM dd, yyyy'}}</li>
                                /
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'h:mm a'}}</li>
                            </ul>
                        </div>
                        <div class="overflow-hidden">
                            <h3 class="m0 gray inline-block align-middle regular">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
                <hr class="col col-12 py1 mt2">
                <form class="col col-12">
                    <div class="form-group">
                        <label class="h6">Title</label>
                        <input type="text" name="title" class="block col-12 mb1 form-control"
                               placeholder="The Title of This Video" ng-model="postTitle">
                    </div>
                    <p class="h5 gray">sub-title <a class="collapse"><i class="fa fa-minus" ng-click="postSubTitle='';"></i></a></p>
                    <input type="text" name="title" class="block col-12 mb1 form-control"
                           placeholder="This post Could Definitely Be One Of them!" ng-model="postSubTitle">
                    <div class="form-group">
                        <label class="h6">Body Content</label>
                        <div class="text-editor" id="postBody2">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h6">Description (No need for HTML formatting here.) </label>
                        <textarea name="description" rows="4" ng-model="excerpt" class="block col-12 mb1 form-control"
                                  placeholder="Let people know what this video is about. Why should they wanna watch it?"></textarea>
                    </div>
                </form>
            </div>
            <div class="sm-col sm-col-12 column-7 tab tab-news" ng-class="{active : posttype == 3}">
                <div class="sm-col-12">
                    <h4 class="mt1 mb2 color-lighten-1">NEWS</h4>
                </div>
                <div class="sm-col sm-col-12">
                    <div class="clearfix">
                        <div class="left mr2">
                            <img class="circle"
                                 ng-src="{{user.image || 'http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg'}}"
                                 width="30" height="30">
                        </div>
                        <div class="right clearfix mr2 social-bar">
                            <ul class="list-reset right m0 color-lighten-1">
                                <li class="inline-block regular h6 color-lighten-1">{{nowDate  | date:'MMM dd, yyyy'}}</li>
                                /
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'h:mm a'}}</li>
                            </ul>
                        </div>
                        <div class="overflow-hidden">
                            <h3 class="m0 gray inline-block align-middle regular">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
                <hr class="col col-12 py1 mt2">
                <form class="col col-12">
                    <div class="form-group">
                        <label class="h6">Title</label>
                        <input type="text" name="title"  class="block col-12 mb1 form-control"
                               placeholder="The Title of This Video" ng-model="postTitle">
                    </div>
                    <p class="h5 gray">sub-title <a class="collapse"><i class="fa fa-minus" ng-click="postSubTitle='';"></i></a></p>
                    <input type="text" name="title" class="block col-12 mb1 form-control"
                           placeholder="This post Could Definitely Be One Of them!" ng-model="postSubTitle">
                    <div class="form-group">
                        <label class="h6">Body Content</label>
                        <div class="text-editor" id="postBody3">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h6">Description (No need for HTML formatting here.) </label>
                        <textarea name="description" rows="4" ng-model="excerpt" class="block col-12 mb1 form-control"
                                  placeholder="Let people know what this video is about. Why should they wanna watch it?"></textarea>
                    </div>
                </form>
            </div>

             <div class="sm-col sm-col-12 column-7 tab tab-news" ng-class="{active : posttype == 4}">
                <div class="sm-col-12">
                    <h4 class="mt1 mb2 color-lighten-1">NEWS</h4>
                </div>
                <div class="sm-col sm-col-12">
                    <div class="clearfix">
                        <div class="left mr2">
                            <img class="circle"
                                 ng-src="{{user.image || 'http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg'}}"
                                 width="30" height="30">
                        </div>
                        <div class="right clearfix mr2 social-bar">
                            <ul class="list-reset right m0 color-lighten-1">
                                <li class="inline-block regular h6 color-lighten-1">{{nowDate  | date:'MMM dd, yyyy'}}</li>
                                /
                                <li class="inline-block regular h6 color-lighten-1"> {{nowDate  | date:'h:mm a'}}</li>
                            </ul>
                        </div>
                        <div class="overflow-hidden">
                            <h3 class="m0 gray inline-block align-middle regular">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
                <hr class="col col-12 py1 mt2">
                <form class="col col-12">
                    <div class="form-group">
                        <label class="h6">Title</label>
                        <input type="text" name="title"  class="block col-12 mb1 form-control"
                               placeholder="The Title of This Video" ng-model="postTitle">
                    </div>
                    <p class="h5 gray">sub-title <a class="collapse"><i class="fa fa-minus" ng-click="postSubTitle='';"></i></a></p>
                    <input type="text" name="title" class="block col-12 mb1 form-control"
                           placeholder="This post Could Definitely Be One Of them!" ng-model="postSubTitle">
                    <div class="form-group">
                        <label class="h6">Body Content</label>
                        <div class="text-editor" id="postBody3">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h6">Description (No need for HTML formatting here.) </label>
                        <textarea name="description" rows="4" ng-model="excerpt" class="block col-12 mb1 form-control"
                                  placeholder="Let people know what this video is about. Why should they wanna watch it?"></textarea>
                    </div>
                </form>
            </div>

            

            <div class="sm-col sm-col-12 column-3 sm-pl3 pt4 right">
                <div class="btn-group clearfix mb3">
                    <button class="btn btn-outline mb1 black regular col sm-col-6 md-col-6 lg-col-6" ng-disabled="!isValidDraft" ng-click="postForSubmit(false);">Save</button>
                    <button class="btn btn-outline mb1 black regular col sm-col-6 md-col-6 lg-col-6" ng-disabled="!isValidPost && postDesc.length<=100" ng-click="postForSubmit(true);">Submit</button>
                </div>
                <div class="clearfix center manage_posts">
                    <h4>manage posts ({{totalPost}})</h4>
                </div>
                <form class="category-form">
                    <div class="form-group" >
                        <label class="h6"> Category (pick up to 2) </label>
                        <select id="post-categoty" multiple ui-select2="{maximumSelectionLength:2}" ng-model="categorylist" data-placeholder="Select A Category" ng-limit="2"
                                class="block col-12 mb1 form-control nowrap white bg-blue rounded" style="width: 100%;" >
                            <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="h6">Tags (help people find this post)</label>
                        <select id="post-tags" multiple ui-select2 ng-model="taglist" data-placeholder="tag1, tag2, tag3, tag4, etc."
                                class="block col-12 mb1 form-control nowrap white bg-blue rounded" r>
                            <option ng-repeat="tag in tags" value="{{tag._id}}">{{tag.name}}</option>
                        </select>

                    </div>
                </form>
                <div class="col-12 mb2" ng-if="posttype==1">
                    <h3 class="m0 gray center regular border-bottom py2">My Rescent Posts</h3>
                </div>
                 <div class="col-12 mb2" ng-if="posttype!==1">
                    <h3 class="m0 gray center regular border-bottom py2">Looking for Inspiration <span class="default-font">?</span></h3>
                </div>
                <div class="col-12">
                    <div class="inspire-block-wrapper" ng-repeat="post in recentPost">
                        <div class="inspire-block">
                            <h3 class="mb0 mt1">{{post.title}}</h3>
                            <p class="gray h5 mb0">
                                <time class="h6">{{post.created_at | timeago}}</time>
                            </p>
                            <p class="h6 m0 para-ellips">Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                eget, tempor sit amet, ante.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
<script src="/js/page.js"></script>
<script src="/js/plugins/drag-arrange.js"></script>

<script src="/js/pages/post.js"></script>
<script src="/js/plugins/dropzone-4.3.0/dist/dropzone.js"></script>


<!-- Editor plugins Scripts-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

<script type="text/javascript" src="/plugins/editor/js/froala_editor.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/align.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/draggable.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/file.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/image.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/link.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/table.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/save.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/url.min.js"></script>
<script type="text/javascript" src="/plugins/editor/js/plugins/video.min.js"></script>

<script>
    $(function () {
        $('.text-editor').froalaEditor()
    });
</script>
<script>
    /*jQuery(window).ready(function(){
     jQuery('.asHtml').each(function(){
     jQuery(this).html(jQuery(this).text())
     })
     })*/
    $(document).ready(function () {
        Dropzone.autoDiscover = false;

        previewTemplate = $('.dz-file-preview1').html();
        Dropzone.options.uploadWidget = {
            paramName: 'file',
            maxFilesize: 2, // MB
            maxFiles: 1,
            dictDefaultMessage: 'Drag an image here to upload, or click to select one',
            previewTemplate: previewTemplate,
            acceptedFiles: 'image/*',
            init: function () {
                this.on('success', function (file, resp) {
                    console.log(file);
                    console.log(resp);
                });
                this.on('thumbnail', function (file) {
                    if (file.width < 640 || file.height < 480) {
                        file.rejectDimensions();
                    }
                    else {
                        file.acceptDimensions();
                    }
                });
            },
            accept: function (file, done) {
                file.acceptDimensions = done;
                file.rejectDimensions = function () {
                    done('The image must be at least 640 x 480px')
                };
            }
        };
         Dropzone.options.otherElement = {
            paramName: 'file',
            maxFilesize: 2, // MB
            maxFiles: 1,
            dictDefaultMessage: 'Drag an image here to upload, or click to select one',
            previewTemplate: previewTemplate,
            acceptedFiles: 'image/*',
            init: function () {
                this.on('success', function (file, resp) {
                    console.log(file);
                    console.log(resp);
                });
                this.on('thumbnail', function (file) {
                    if (file.width < 640 || file.height < 480) {
                        file.rejectDimensions();
                    }
                    else {
                        file.acceptDimensions();
                    }
                });
            },
            accept: function (file, done) {
                file.acceptDimensions = done;
                file.rejectDimensions = function () {
                    done('The image must be at least 640 x 480px')
                };
            }
        };


    })
</script>
</body>
</html>
