<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<body>
<% include partials/header %>

<div class="container mx-auto white-bg clearfix page-title">
  <h1 class="color-lighten-1 m0">404</h1>
</div>


<div class="container center">
  <iframe src="//giphy.com/embed/np6xt2HVUk91u" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/fool-np6xt2HVUk91u">via GIPHY</a></p>
  <p class="color-lighten-1 m0 h1">Sorry, we couldn't find the article you were looking for...</p>
  <p class="color-lighten-1 m0 h2">How about some of these?</p>
</div>

<section id="features" class="py4 bg-lighten-5">
  <div class="clearfix container mx-auto">
    <%
    var j=4;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=0; i<4; i++) {
     if (locals.articles[i]) { %>
      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (articles[i].wp_featuredImage || articles[i].featuredImage) { %>
        <div class="feature-image">
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </div>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="black regular mb0 mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 mxn2 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="regular btn"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"><%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
        <p class="h6 m0 para-ellips " data-char="175"><%- linkify(truncatePostContent(articles[i].body, 175)) %></p>
      </a>

      </div>
    <% }
    }%>
  </div>

  <div class="clearfix container mx-auto">
    <%
    var j=4;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=5; i<9; i++) {
      if (locals.articles[i]) { %>
      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (articles[i].wp_featuredImage || articles[i].featuredImage) { %>
        <div class="feature-image">
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </div>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="black regular mb0 mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 mxn2 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="regular btn"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"><%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
        <p class="h6 m0 para-ellips " data-char="175"><%- linkify(truncatePostContent(articles[i].body, 175)) %></p>
      </a>

      </div>
    <% }
    }%>
  </div>
</section>

<% include partials/footer %>
<script src="http://preview.blavity.com/js/md5.js"></script>

<script src="http://preview.blavity.com/socket.io/socket.io.js"></script>

<script src="http://preview.blavity.com/js/page.js"></script>
</body>
</html>
