<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="AuthCtrl as Auth">
<% include partials/head %>
<body>
<% include partials/header %>
<section class="clearfix bg-white pt3">
 <div class="container center py4">
    <div class="max-width-3 mx-auto">
      <h2 class="h2 color-lighten-1 m0">Register</h2>
      <hr class="sm-col sm-col-12 mx-auto">
    </div>
    <div class="clearfix max-width-3 mx-auto center sm-pt4">
      <form class="max-width-2 mx-auto  ng-pristine ng-valid login_form" name="registerForm">
        <div class="clearfix" ng-if = "requestResult">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <div class="sm-col sm-col-8 xs-col-12 " ng-class="requestResult == 'error' ? 'red' : 'green'">
            {{requestMsg}}
          </div>
        </div>
        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Username</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Username" type="text" ng-model="user.username" name="username" required>
          </div>
        </div>
        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Email</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Email" type="email" ng-model="user.email" name="email" required>
          </div>
        </div>

        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Password</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Password" type="password" ng-model="user.password" name="password" required>
          </div>
        </div>

        <div class="clearfix">
          <label class="sm-col sm-col-4 xs-col-12 h5 py1 pr1 right-align">Retype Password</label>
          <div class="sm-col sm-col-8 xs-col-12">
            <input class="form-control no-radius no-border-bottom" placeholder="Password one more time" type="password" ng-model="user.passwordAgain" name="passwordAgain" required>
          </div>
        </div>

        <div class="clearfix btn-group">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <button class="btn btn-outline bg-light-green no-radius sm-col sm-col-8 xs-col-12" ng-disabled="!registerFormValid" type="button" ng-click="signUp(user)">Be Great</button>
        </div>

        <div class="clearfix">
          <div class="sm-col sm-col-4 xs-hide">&nbsp;</div>
          <div class="sm-col sm-col-8 xs-col-12 left-align h5">
            <input id="newsletter" class="inline-block align-middle hide" type="checkbox" ng-model="user.newsletter">
            <label for="newsletter" class="sm-mt2 block">Keep me up to date with Daily Newsletter </label>
          </div>
        </div>


      </form>
    </div>

    <div class="clearfix">
      <div class="max-width-2 mx-auto pt2">
        <p class="inline-block left-align gray py2 xs-center">Be through this already? To login go here <a href="/login" class="register_btn text-decoration">Login</a></p>
        <hr class="sm-col sm-col-12 mt1">
        <p class="gray pt3">Forgot your password ? <a href="/forgotpassword" class="gray text-decoration"><b>Don't worry, we got you.</b></a></p>
      </div>
    </div>
  </div>

</section>
<% include partials/footer %>

<!--<script src="/js/md5.js"></script>-->

<!--<script src="/socket.io/socket.io.js"></script>-->

<!--<script src="js/page.js"></script>-->
</body>
</html>
