<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<style>
.sticky-bar{  position:fixed;bottom:0px;right:10.4%;z-index:9999999;}
</style>
<body>
  <div id="fb-root"></div>

<% include partials/forms %>

<% include partials/header %>


<!--page container / recent posts-->
    <div id="main-content" class="page-container group fade animate-hide">

  <!--main content-->
      <section class="group">
          <article name="<%= urlSlug(article.slug) %>" ng-init="leadingArticleId = '<%= article._id %>'" ng-init="leadingArticlePostType = '<%= article.postType %>'">
              <% v= article._featuredImage ? 'http://preview.blavity.com/' + article._featuredImage : article.wp_featuredImage;
              if(v==='' || v==null)
                v='http://placehold.it/1900x300';
              %>

                <section class="banner" style="background: url('<%= v %>') no-repeat top center;background-size: cover;">
                    <img class="single-post-banner"  src="<%= v %>" />
                </section>

              <section class="single_post second-container mx-auto">
                  <section class="clearfix sm-p2 md-p3">
                    <article class="sm-col column-7 sm-pr4 catcher">
                        <header>
                          <div class="breadcumbs gray">
                            <%
                            if(article.categories){

                            for(var i=0; i < article.categories.length; i++) {%>
                                <a href="http://preview.blavity.com/categories/<%- article.categories[i].slug %>" class="btn gray"><%- article.categories[i].name %></a>
                            <% }
                            } %>
                          </div>

                          <div class="group"><h2 class="article-title"><%- article.title %></h2></div>
                          <div class="group"><p class="article-sub-title"><%- article.subTitle %></p></div>

                          <div class="clearfix pb3">
                            <a href="http://preview.blavity.com/author/<%= article._author ? article._author.username : 'BlavityFam'; %>" title="Blavity - <%= article._author ? article._author.username : 'BlavityFam'; %>">
                              <div class="sm-col xs-col-12 md-pb2 sm-col-12 md-col-12 lg-col-7 pr2 user-profile">
                               <div class="clearfix">
                                  <img class="circle left mr1" src="http://www.gravatar.com/avatar/<%= article._author ? md5(article._author.email) : 'somebody@test.com'; %>" width="35" height="35" />
                                  <p class="m0 gray left">
                                    <div class="bold author-name"><%= article._author ? article._author.username : "BlavityFam"; %></div>
                                    <div class="h6"><%= moment(article.updated_at).fromNow() %></div>
                                    <!-- <div class="h6"> • <%= moment(article.updated_at).fromNow() %></div> -->
                                  </p>
                                </div>
                              </div>
                            </a>

                            <div stickyicky class="transition">
                              <social-buttons class="single-post-share list-reset right m0"
                                              data-title="<%- article.title %>"
                                              data-slug="<%- article.slug %>"
                                              data-picture="<%- article.wp_featuredImage %>">
                              </social-buttons>
                            </div>

                          </div>
                        </header>

                        <% if (article._medias) { %>
                        <% article._medias.forEach(function(media) { %>
                        <img src="http://paistre.com/<%= media.filename %>"/>
                        <% }); %>
                        <% } %>
                        <!--/media-->

                        <!--body-->
                        <%
                          //body=shortcode.parse(article.body);
                          body=article.body;

                            body=body.replace(/\[{1}[^\]]+\]{1}/ig, "");
                        %>
                        <div class="article-body"><%- linkify(body) %></div>
                        <!--/body-->


                    <div class="breadcumbs gray">
                      <%
                      if(article.tags){

                      for(var i=0; i < article.tags.length; i++) {%>
                          <a href="http://preview.blavity.com/tags/<%- article.tags[i].slug %>" class="btn light-gray tag"><%- article.tags[i].name %></a>
                      <% }
                      } %>
                    </div>

                        <p class="gray">Remember, sharing is caring.</p>
                        <div class="sm-col xs-col-12 md-pb2 sm-col-12 md-col-12 lg-col-8">
                          <ul class="single-post-share-end list-reset m0">
                            <li class="single_post_social_btn facebook-blue"><a target="_blank" class="black" href="http://www.facebook.com/sharer/sharer.php?u=http://preview.blavity.com/<%= urlSlug(article.slug) %>&title=<%- article.title %>"><i class="fa fa-facebook"></i></a></li>
                            <li class="single_post_social_btn twitter-blue"><a rel="canonical" target="_blank" href="https://twitter.com/intent/tweet?text=<%- article.title %>&url=http://preview.blavity.com/<%= urlSlug(article.slug) %>&via=blavity" rel="me" class="black"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li class="single_post_social_btn" ng-hide="!allShareOptions"><a href="javascript:void(0);" class="black"><i class="fa fa-pinterest"></i></a></li> -->
                            <!-- <li class="single_post_social_btn" ng-hide="!allShareOptions" ><a href="javascript:void(0);" class="black"><i class="fa fa-google-plus"></i></a></li> -->
                            <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && isIOS()"><a target="_blank" href="sms:&body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(article.slug) %> - <%- article.title %>" class="black"><i class="material-icons">sms</i></a></li><!--ios-->
                            <li class="single_post_social_btn blavity-gold" ng-show="isMobile() && !isIOS()"><a target="_blank" href="sms:?body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(article.slug) %> - <%- article.title %>" class="black"><i class="material-icons">sms</i></a></li><!--android-->
                            <li class="single_post_social_btn blavity-gold" ng-show="!isMobile()"><a href="mailto:?Subject=Check%20Out%20This%20Blavity%20Post%20-%20<%- article.title %>&Body=http://preview.blavity.com/<%= urlSlug(article.slug) %>" target="_top"><i class="fa fa-envelope"></i></a></li><!--desktop-->
                            <!-- <li class="single_post_social_btn" ng-hide="allShareOptions"><a href="javascript:void(0);" class="black"><i class="fa fa-ellipsis-h"></i></a></li> -->
                          </ul>
                        </div>

                        <hr>

                        <!--facebook comments-->
                        <div class="fb-comments-container">
                          <h3 class="gray mt4 fb-comments-heading">What do you think?</h3>
                          <div class="fb-comments" dyn-fb-comment-box data-href="http://preview.blavity.com/<%= urlSlug(article.slug) %>" data-width="100%" data-numposts="5"></div>
                        </div>
                        <!--/facebook comments-->

                        <!--Author Bio-->
                        <div class="group author-bio">
                            <%= article._author ? article._author.bio : ""; %>
                        </div>
                    </article>

                    <% include partials/sidebar %>


                  </section>
              </section>

          </article>

          <div class="article-end" data-id="<%= article.slug %>"></div>

      </section>

      <% include partials/subscribe2 %>

      <% include partials/infiniteFull %>
    </div>
  <!--/main content-->

<% include partials/footer-inf %>
</body>
</html>
