<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<body>
<% include partials/header %>

<section id="banner" class="pb3">
  <div class="clearfix">
    <div class="sm-col col xs-col-12 sm-col-8 left">
      <!--<img src="http://placehold.it/1200x550">-->
      <% if (articles[0].wp_featuredImage || articles[0].featuredImage) { %>
      <a href="/<%= urlSlug(articles[0].slug) %>" title="<%- articles[0].title %>">
        <img width="1200" height="550" check-image src="<%= articles[0]._featuredImage !=null ? 'http://preview.blavity.com' + articles[0]._featuredImage : articles[0].wp_featuredImage; %>">
      </a>

      <% } %>
      <!-- <time class="absolute bg-black white h6 px1 right-0 time">2:34 </time> -->
    </div>
    <% if (typeof articles[0] !== 'undefined') { %>
    <div class="sm-col col xs-col-12 sm-col-4 right">
      <div class="p3">
        <div class="breadcumbs gray">
          <%
          if(articles[0].categories){

          for(var i=0; i < articles[0].categories.length; i++) {%>
              <a href="#" class="btn gray"><%- articles[0].categories[i].name %></a>
          <% }
          } %>
        </div>

        <a href="/<%= urlSlug(articles[0].slug) %>" title="<%- articles[0].title %>"><h3 class="h2 mt1"><%- articles[0].title %></h3></a>
        <div class="clearfix mb1 user-name">
          <div class="sm-col xs-col-12 sm-col-12 mb2 slide-user-profile">
            <div class="clearfix">
              <div class="sm-col sm-col-4 md-col-7 lg-col-5 pr2 user-profile">
                  <img class="circle left mr1" src="http://www.gravatar.com/avatar/<%= articles[0]._author ? md5(articles[0]._author.email) : 'somebody@test.com'; %>" width="35" height="35" />

                <p class="m0 gray" >
                  <a class="bold" href="<%= articles[0]._author ? '/author/'+articles[0]._author.username : 'javascript:void(0);'; %>"><%= articles[0]._author ? articles[0]._author.username : "BlavityFam"; %></a>
                  <div class="h6"><%= moment(articles[0].updated_at).fromNow() %></div>
                </p>
              </div>
              <div class="sm-col sm-col-8 md-col-5 lg-col-7">
                <ul class="list-reset right m0">
                  <li class="social_btn"><a target="_blank" class="black" href="http://www.facebook.com/sharer/sharer.php?u=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>&title=<%- articles[0].title %>"><i class="fa fa-facebook"></i></a></li>
                  <li class="social_btn"><a rel="canonical" target="_blank" href="https://twitter.com/intent/tweet?text=<%= urlSlug(articles[0].slug) %>&url=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>&via=blavity" rel="me" class="black"><i class="fa fa-twitter"></i></a></li>
                  <li class="social_btn" ng-show="isMobile() && isIOS()"><a target="_blank" href="sms:&body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(articles[0].slug) %> - <%- articles[0].title %>" class="black"><i class="material-icons">sms</i></a></li>
                  <li class="social_btn" ng-show="isMobile() && !isIOS()"><a target="_blank" href="sms:?body=Check out this Blavity post, http://preview.blavity.com/<%= urlSlug(articles[0].slug) %> - <%- articles[0].title %>" class="black"><i class="material-icons">sms</i></a></li>
                  <li class="social_btn" ng-show="!isMobile()"><a target="_blank" href="mailto:?Subject=Check%20Out%20This%20Blavity%20Post%20-%20<%- articles[0].title %>&Body=http://preview.blavity.com/<%= urlSlug(articles[0].slug) %>" target="_top"><i class="fa fa-envelope"></i></a></li><!--desktop-->
                </ul>
              </div>
            </div>
          </div>

          <p class="header-para-ellips sm-col-12" data-char="390"><%- truncatePostContent(articles[0].body, 390) %></p>

        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<section id="features" class="py4 bg-lighten-5">
  <div class="clearfix container mx-auto">
    <%
    var j=4;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=1; i<5; i++) { %>

      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (articles[i].wp_featuredImage || articles[i].featuredImage) { %>
        <div class="feature-image">
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </div>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="black regular mb0 mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 mxn2 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="regular btn"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"><%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
        <p class="h6 m0 para-ellips " data-char="175"><%- linkify(truncatePostContent(articles[i].body, 175)) %></p>
      </a>

      </div>
    <% } %>
  </div>
</section>

<section id="subscribe_div">
  <div class="clearfix">
    <div class="sm-col sm-col-5 xs-col-12 px1 left xs-absolute">
      &nbsp;
    </div>
    <div class="sm-col sm-col-7 xs-col-12 right subsriber-bg" style="background: url('/images/blavity-stay-up.jpg') no-repeat top center;background-size: cover;">
      <img src="/images/blavity-stay-up.jpg" class="mb3" style="opacity:0;">
    </div>
    <div class="sm-col sm-col-12 xs-col-12 subscribe">
      <div class="p2 bg-white">
          <h1 class="regular m0 mb2">Stay up on cool black things.</h1>
          <form class="clearfix">
            <div class="form-group clearfix">
              <input id="email" type="text" class="input-inline sm-col-9 col" placeholder="Email Address">
              <button class="sm-col-3 col get_it_btn">Get it</button>
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox"><span class="h6">I agree that by entering my email address, I'm getting hooked up with the dopeness.</span>
              </label>
            </div>
          </form>
        </div>
    </div>
  </div>
</section>

<section class="bg-lighten-6">
  <div class="container center py4">
    <div class="clearfix max-width-3 mx-auto">
      <img src="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2016/05/ADVERTISE324-2.png?9b13fa">
    </div>
  </div>
</section>

<section class="bg-white py2">
  <div class="container center pt1">
    <div class="clearfix max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Popular Video </p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="videos" class="center py4 bg-lighten-8">
  <div class="clearfix container mx-auto">
    <%
    var j=2;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=5; i<7; i++) {%>
    <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
      <div class="sm-col sm-col-12 md-col-6 relative">
        <% v= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage;
        if(v==='' || v==null)
            v='http://placehold.it/1900x600';
         %>
        <div class="videos-image" style="background: url('<%= v %>') no-repeat top center;background-size: cover;">
          <img width="1200" height="550" check-image src="" style="opacity:0;">
        </div>
        <div class="absolute xs-col-12 sm-col-12 bottom-0 bg-white-op5 left-align p1">
          <h3 class="mb0 mt1 pop-video-text"><%- articles[i].title ? articles[i].title : ""; %></h3>
          <p class="gray h5 mxn2 m0">
            <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="black regular btn pop-video-text"><%= articles[i]._author ? articles[i]._author.username : ""; %></a>
            <time class="black h6"><%= moment(articles[i].updated_at).fromNow() %></time>
          </p>
          <!-- <time class="absolute bg-black white h6 px1 right-0 time">2:34</time> -->
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<section>
  <div class="container center">
    <div class="clearfix max-width-3 mx-auto">
      <img src="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2016/05/ADVERTISE324-2.png?9b13fa">
    </div>
  </div>
</section>

<section class="clearfix center py2">
  <div class="container center pt1 ">
    <div class="max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Recent Posts</p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="recent_post">
  <div class="clearfix container mx-auto">
    <div class="sm-col column-7 sm-pr2">
      <%
      var j=4;
      if(j>articles.length){
        j=articles.length;
      }
      for(var i=10; i<14; i++) {%>
          <div class="clearfix">
            <div class="sm-col sm-col-6 xs-col-12 px1">
              <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                <h3 class="black mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
              </a>
              <div class="clearfix mb1">
                <div class="left mr1">
                  <img class="circle" src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="40" height="40" />
                </div>
                <div class="overflow-hidden">
                  <p class="m0 gray h4">
                    <a class="bold author-name gray" href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
                    <div class="h6"><%= moment(articles[i].updated_at).fromNow() %></div>
                  </p>
                </div>
                <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                  <p class="h4 black regular m0 mt1 say-para-ellips" data-char="180"><%- linkify(truncatePostContent(articles[i].body, 180)) %></p>
                </a>

              </div>
            </div>
            <div class="sm-col sm-col-6 xs-col-12 sm-px1">

              <div class="recent_post_images">
                <img width="360" height="170" class="fit"  check-image src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
              </div>
            </div>
          </div>
          <hr class="my2" />
      <% } %>

      <div class="clearfix max-width-2 mx-auto py2">
        <img src="http://blavity.blavity.netdna-cdn.com/wp-content/uploads/2016/05/ADVERTISE324-2.png?9b13fa">
      </div>
    </div>
    <div class="column-3 sm-col">
      <div class="clearfix">
        <div class="sm-col sm-col-12">
          <img src="http://placehold.it/240x240" class="mb3" width="100%">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-social-hood-watch.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-news.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-the-hungry-hutch.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-between-two-sistas.png">
        </div>
      </div>
    </div>
  </div>
</section>



<% include partials/footer %>
<!--<script src="http://preview.blavity.com/js/md5.js"></script>-->

<!--<script src="http://preview.blavity.com/socket.io/socket.io.js"></script>-->

<!--<script src="http://preview.blavity.com/js/page.js"></script>-->
</body>
</html>
