<% include helpers %>
<!doctype html>
<html class="no-js" lang="en" ng-app="StaticRealtimeBlog" ng-controller="ArticleCtrl as Article">
<% include partials/head %>
<body>
<% include partials/header %>

<div class="container mx-auto white-bg clearfix page-title">
  <h1 class="color-lighten-1 m0">videos</h1>
</div>

<section id="features" class="py4 bg-lighten-8">
  <div class="clearfix container mx-auto">
    <%
    var j = 4;
    if(j > articles.length){
      j = articles.length;
    }
    for(var i=1; i<5; i++) {
      if (typeof articles[i] != 'undefined'){

    %>

      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (articles[i].wp_featuredImage || articles[i].featuredImage) { %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>" class="feature-image video-thumbnail">
          <span></span>
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </a>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="regular mb0 mt1 white"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="bold gray"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"> • <%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>"></a>
      </div>

    </a>
    <% }
    }%>
  </div>

  <div class="clearfix container mx-auto">
    <%
    var j = 4;
    if(j > articles.length){
      j = articles.length;
    }
    for(var i = 6; i < 10; i++) {
      if (typeof articles[i] != 'undefined'){
    %>

      <div class="sm-col sm-col-6 md-col-6 lg-col-3 px1 mb3">
        <% if (articles[i].wp_featuredImage || articles[i].featuredImage) { %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>" class="feature-image video-thumbnail">
          <span></span>
          <img width="240" height="110" check-image  src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
        </a>
        <% } %>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
          <h3 class="regular mb0 mt1 white"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
        </a>
        <p class="gray h5 m0">
          <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="bold gray"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
          <time class="h6"> • <%= moment(articles[1].updated_at).fromNow() %></time>
        </p>
        <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
      </a>

      </div>
    <% }
    }%>
  </div>
</section>

      <% include partials/subscribe1 %>

<section class="bg-lighten-6">
  <div class="container center py4">
    <div class="clearfix max-width-3 mx-auto">
      <% include partials/ads/ad-banner-inf %>

    </div>
  </div>
</section>

<section class="bg-white py2">
  <div class="container center pt1">
    <div class="clearfix max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Popular Posts </p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="videos" class="center py4 bg-lighten-8">
  <div class="clearfix container mx-auto">
    <%
    var j=2;
    if(j>articles.length){
      j=articles.length;
    }
    for(var i=5; i<7; i++) {
      if (typeof articles[i] != 'undefined'){

    %>
    <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
      <div class="sm-col sm-col-12 md-col-6 relative">
        <% v= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage;
        if(v==='' || v==null)
            v='http://placehold.it/1900x600';
         %>
        <div class="videos-image" style="background: url('<%= v %>') no-repeat top center;background-size: cover;">
          <img width="1200" height="550" check-image src="" style="opacity:0;">
        </div>
        <div class="xs-col-12 sm-col-12 bottom-0 bg-black left-align p1">
        <!-- <div class="absolute xs-col-12 sm-col-12 bottom-0 bg-black left-align p1"> -->
          <h3 class="mb0 mt1 pop-video-text"><%- articles[i].title ? articles[i].title : ""; %></h3>
          <p class="gray h5 m0">
            <a href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>" class="bold pop-video-text"><%= articles[i]._author ? articles[i]._author.username : ""; %></a>
            <time class="black h6 pop-video-text"> • <%= moment(articles[i].updated_at).fromNow() %></time>
          </p>
          <!-- <time class="absolute bg-black white h6 px1 right-0 time">2:34</time> -->
        </div>
      </div>
    </a>
    <% }
    }%>
  </div>
</section>

<!-- <section class="pt3">
  <div class="container center">
    <div class="clearfix max-width-3 mx-auto py4">
      <% //include partials/ads/ad-banner-inf %>

    </div>
  </div>
</section> -->

<section class="clearfix center py2">
  <div class="container center pt1 ">
    <div class="max-width-3 mx-auto">
      <hr class="sm-col sm-col-5">
      <p class="sm-col sm-col-2 gray">Recent Posts</p>
      <hr class="sm-col sm-col-5">
    </div>
  </div>
</section>

<section id="recent_post">
  <div class="clearfix container mx-auto">
    <div class="sm-col column-7 sm-pr2">
      <%
      var j=4;
      if(j>articles.length){
        j=articles.length;
      }
      for(var i=11; i<15; i++) {
        if (typeof articles[i] != 'undefined'){

        %>
          <div class="clearfix">
            <div class="sm-col sm-col-6 xs-col-12 px1">
              <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                <h3 class="black mt1"><%- articles[i].title ? articles[i].title : "Check This Out"; %></h3>
              </a>
              <div class="clearfix mb1">
                <div class="left mr1">
                  <img class="circle" src="http://www.gravatar.com/avatar/<%= articles[i]._author ? md5(articles[i]._author.email) : 'somebody@test.com'; %>" width="35" height="35" />
                </div>
                <div class="overflow-hidden">
                  <p class="m0 gray h4">
                    <a class="bold author-name gray" href="<%= articles[i]._author ? '/author/'+articles[i]._author.username : 'javascript:void(0);'; %>"><%= articles[i]._author ? articles[i]._author.username : "BlavityFam"; %></a>
                    <div class="h6"><%= moment(articles[i].updated_at).fromNow() %></div>
                  </p>
                </div>
                <a href="/<%= articles[i].slug %>" title="<%- articles[i].title %>">
                  <p class="h4 black regular m0 mt1 say-para-ellips" data-char="180"><%- linkify(truncatePostContent(articles[i].body, 180)) %></p>
                </a>

              </div>
            </div>
            <div class="sm-col sm-col-6 xs-col-12 sm-px1">

              <div class="recent_post_images">
                <img width="360" height="170" class="fit"  check-image src="<%= articles[i]._featuredImage ? 'http://preview.blavity.com' + articles[i]._featuredImage : articles[i].wp_featuredImage; %>">
              </div>
            </div>
          </div>
          <hr class="my2" />
      <% }
      }%>


    </div>
    <div class="column-3 sm-col">
      <div class="clearfix">
        <div class="sm-col sm-col-12 py2">
          <% include partials/ads/ad-300x250 %>
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-social-hood-watch.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-news.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-the-hungry-hutch.png">
        </div>
        <div class="sm-col sm-col-12 pb2">
          <img src="/images/blavity-between-two-sistas.png">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="clearfix max-width-2 mx-auto py2">
  <% include partials/ads/ad-banner-inf %>
</div>

<% include partials/footer %>
</body>
</html>
